$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#8CBF3F;
$COLOR-title:#0e1b4d;
/*importa tipografias*/
  @import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
  a,h1,h2,h3,h4,h5,h6,p{
    font-family: "Poppins", sans-serif;
  }

/*background*/
#patrocinar{
    width: 100%;
     height: auto;
     //background:rgba(67, 192, 246,0.3);
     background: url(/assets/images/hero-bg.jpg) top center;
     //background: rgba(230, 247, 255, 0.8);
   background-size: cover;
    overflow: hidden;
    position: relative;
}

  ion-menu-button{
    color: #fff;
  }
  
  #patrocinar h2 {
    //color: #0e1b4d;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
  }
  
  #patrocinar h5 {
    color: #fff;
    //font-weight: 700;
    font-size: 20px;
    text-align: center;
  }

  #contenedor{
    width: 60%;
    left: 20%;
    background: rgba(230, 247, 255, 0.8);
  }
  
  form {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    
  }

  /*inputs*/
  .input-field {
    --border-color: transparent!important;
    --highlight-height: 0;
    border: 2px solid #bebebe;
    border-radius: 4px;
    max-width: 380px;
    width: 100%;
    background-color: #fff;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
  }
  .auth-time {
    --border-color: transparent!important;
        --highlight-height: 0;
        border: 2px solid #bebebe;
        border-radius: 4px;
        max-width: 380px;
        width: 100%;
        background-color: #fff;
        margin: 10px 0;
        height: 55px;
        border-radius: 55px;
    div.item-inner {
      border-top: none;
      ion-input {
        width: 100px;
        input {
          text-align: right;
        }
      }
    }
    ion-select {
      width: 300px;
    }
  }
  /*titulos*/
h3{
    font-size: 20px;
    font-weight: bold;
     text-align: center;
     color: $COLOR-title;
     margin-top: 2%;
     margin-bottom: 5%;
  }
  p{
    color: $COLOR-title;
  }
  /*button send*/
#send {
    --background: #43C0F6;
    width: 40%;
    height: 49px;
    margin-left: 30%;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
  
    transition: 0.5s;
  }
  #send:hover {
    --background: #5995fd;
   
  }