<!-- <app-ion-header title="Patrocinar Proyecto"></app-ion-header> -->

<ion-content>
    <section id="patrocinar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <h5>Cada peso que dé plantará o conservará un árbol para proporcionar lo esencial de la vida: aire limpio para respirar.</h5>
          <h2 >PATROCINAR PROYECTO</h2>  
          <ion-card id="contenedor">
            <form [formGroup]="dataSponsorship" (ngSubmit)="saveData(dataSponsorship.value)">
                <!-- <h3>Seleccione su proyecto</h3> -->
                <ion-row>
                    <ion-col size-md="12" size-lg="12" size-sm="12" size-xs="12" size-xl="12">
                        <p>Seleccione su proyecto</p>
                        <ion-select class="input-field" interface="popover" formControlName="projectName" placeholder="Seleccionar">
                            <ion-select-option value="P1">Protección paramo</ion-select-option>
                            <ion-select-option value="P2">Bosque las amarillas</ion-select-option>
                            <ion-select-option value="P3">Proyecto 3</ion-select-option>
                        </ion-select>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.projectName">
                                <div class="error-message"
                                    *ngIf="dataSponsorship.get('projectName').hasError(validation.type) && (dataSponsorship.get('projectName').dirty || dataSponsorship.get('projectName').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                        <p>Cantidad a patrocinar</p>
                        <ion-input class="input-field" formControlName="quantity" placeholder="Ingrese cantidad deseada"></ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.amountMoney">
                                <div class="error-message"
                                    *ngIf="dataSponsorship.get('quantity').hasError(validation.type) && (dataSponsorship.get('quantity').dirty || dataSponsorship.get('quantity').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>

                    <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                        <p>Tipo de unidad</p>
 
                            <ion-select   interface="popover" class="input-field" formControlName="amountSponsor" placeholder="Seleccionar" >
                                <ion-select-option *ngFor="let objects of objectsToSponsor" [value]="objects">
                                    {{objects}}
                                </ion-select-option>
                        </ion-select>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.objectsToSponsor">
                                <div class="error-message"
                                    *ngIf="dataSponsorship.get('amountSponsor').hasError(validation.type) && (dataSponsorship.get('amountSponsor').dirty || dataSponsorship.get('amountSponsor').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>              
                </ion-row>
                <h3>Monto a aportar</h3>
                <ion-row>
                    <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                        <p>Frecuencia del aporte</p>
                        <ion-select class="input-field" formControlName="contributionFrequency" placeholder="Seleccionar"
                                    (ionChange)="amountSponsorChange()">
                                    <ion-select-option *ngFor="let Frequency of contributionFrequency" [value]="Frequency">
                                        {{Frequency}}
                                    </ion-select-option>
                            </ion-select>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.contributionFrequency">
                                    <div class="error-message"
                                        *ngIf="dataSponsorship.get('contributionFrequency').hasError(validation.type) && (dataSponsorship.get('contributionFrequency').dirty || dataSponsorship.get('contributionFrequency').touched)">
                                        <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                    </ion-col>
                    <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                        <p>Valor</p>
                        <ion-input class="input-field" formControlName="amountMoney" readonly>{{sponsorshipvalue}}</ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.sponsorshipStart">
                                <div class="error-message"
                                    *ngIf="dataSponsorship.get('sponsorshipStart').hasError(validation.type) && (dataSponsorship.get('sponsorshipStart').dirty || dataSponsorship.get('sponsorshipStart').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>      
                </ion-row>
                <h3>Duración del patrocinio</h3>
                <ion-row>
                    <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                        <p>Inicio del patrocinio</p>
                        <ion-datetime class="input-field" [min]="this.currentYear" max="2099" formControlName="sponsorshipStart"
                        displayFormat="DD MM YY" placeholder="Seleccionar"></ion-datetime>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.sponsorshipStart">
                                <div class="error-message"
                                    *ngIf="dataSponsorship.get('sponsorshipStart').hasError(validation.type) && (dataSponsorship.get('sponsorshipStart').dirty || dataSponsorship.get('sponsorshipStart').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>   
                    <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                        <p>Fin del patrocinio</p>
                        <ion-datetime class="input-field" [min]="this.currentYear" max="2099" formControlName="endSponsorship"
                                displayFormat="DD MM YY" placeholder="Seleccionar"></ion-datetime>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.endSponsorship">
                                        <div class="error-message"
                                            *ngIf="dataSponsorship.get('endSponsorship').hasError(validation.type) && (dataSponsorship.get('endSponsorship').dirty || dataSponsorship.get('endSponsorship').touched)">
                                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                        </div>
                                    </ng-container>
                                </div>
                    </ion-col>    
                </ion-row>
                        <!-- <ion-item>
                            <ion-label position="stacked">Fin del patrocinio</ion-label>
                            <ion-datetime [min]="this.currentYear" max="2099" formControlName="endSponsorship"
                                displayFormat="DD MM YY" placeholder="Seleccionar"></ion-datetime>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.endSponsorship">
                                <div class="error-message"
                                    *ngIf="dataSponsorship.get('endSponsorship').hasError(validation.type) && (dataSponsorship.get('endSponsorship').dirty || dataSponsorship.get('endSponsorship').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                        <ion-toolbar>
                            <ion-button shape="round" type="submit" [disabled]="!dataSponsorship.valid" expand="full">
                                Finalizar Registro</ion-button>
                        </ion-toolbar> -->
                        <ion-button  id="send" shape="round" type="submit" [disabled]="!dataSponsorship.valid" expand="full">
                            Finalizar</ion-button>
            </form>
          </ion-card>
    </section>
    <!-- FIXME:  Terminar de ingresar los arreglos que paula pidio -->
    <!-- <div class="Aspectoslegales"> -->
        <!-- <form [formGroup]="dataSponsorship" (ngSubmit)="saveData(dataSponsorship.value)">
            <ion-toolbar>
                <h2>Seleccione su proyecto</h2>
            </ion-toolbar>
            <ion-card>
                <ion-card-content>
                    <ion-item>
                        <ion-label position="stacked">Nombre del proyecto a patrocinar</ion-label>
                        <ion-select formControlName="projectName" placeholder="Seleccionar">
                            <ion-select-option value="P1">Protección paramo</ion-select-option>
                            <ion-select-option value="P2">Bosque las amarillas</ion-select-option>
                            <ion-select-option value="P3">Proyecto 3</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.projectName">
                            <div class="error-message"
                                *ngIf="dataSponsorship.get('projectName').hasError(validation.type) && (dataSponsorship.get('projectName').dirty || dataSponsorship.get('projectName').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                    <ion-item>
                        <ion-label position="stacked">Cantidad a patrocinar</ion-label>
                        <ion-select formControlName="amountSponsor" placeholder="Seleccionar">
                                <ion-select-option *ngFor="let objects of objectsToSponsor" [value]="objects">
                                    {{objects}}
                                </ion-select-option>
                        </ion-select>
                        <ion-input formControlName="quantity" placeholder="Ingrese cantidad deseada"></ion-input>
                    </ion-item> -->
                    <!-- <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.amountSponsor">
                            <div class="error-message"
                                *ngIf="dataSponsorship.get('amountSponsor').hasError(validation.type) && (dataSponsorship.get('amountSponsor').dirty || dataSponsorship.get('amountSponsor').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.quantity">
                            <div class="error-message"
                                *ngIf="dataSponsorship.get('quantity').hasError(validation.type) && (dataSponsorship.get('quantity').dirty || dataSponsorship.get('quantity').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div> -->
                <!-- </ion-card-content>
            </ion-card>
            <ion-toolbar>
                <h2>Tú aporte</h2>
            </ion-toolbar>
            <ion-card>
                <ion-card-content>
                    <ion-item>
                        <ion-label position="stacked">Frecuencia del aporte</ion-label>
                        <ion-select formControlName="contributionFrequency" placeholder="Seleccionar"
                                (ionChange)="amountSponsorChange()">
                                <ion-select-option *ngFor="let Frequency of contributionFrequency" [value]="Frequency">
                                    {{Frequency}}
                                </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.contributionFrequency">
                            <div class="error-message"
                                *ngIf="dataSponsorship.get('contributionFrequency').hasError(validation.type) && (dataSponsorship.get('contributionFrequency').dirty || dataSponsorship.get('contributionFrequency').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                    <ion-item>
                        <ion-label position="stacked">Valor a patrocinar</ion-label>
                        <ion-input formControlName="amountMoney" readonly>{{sponsorshipvalue}}</ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="stacked">Inicio del patrocinio</ion-label>
                        <ion-datetime [min]="this.currentYear" max="2099" formControlName="sponsorshipStart"
                            displayFormat="DD MM YY" placeholder="Seleccionar"></ion-datetime>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.sponsorshipStart">
                            <div class="error-message"
                                *ngIf="dataSponsorship.get('sponsorshipStart').hasError(validation.type) && (dataSponsorship.get('sponsorshipStart').dirty || dataSponsorship.get('sponsorshipStart').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                    <ion-item>
                        <ion-label position="stacked">Fin del patrocinio</ion-label>
                        <ion-datetime [min]="this.currentYear" max="2099" formControlName="endSponsorship"
                            displayFormat="DD MM YY" placeholder="Seleccionar"></ion-datetime>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.endSponsorship">
                            <div class="error-message"
                                *ngIf="dataSponsorship.get('endSponsorship').hasError(validation.type) && (dataSponsorship.get('endSponsorship').dirty || dataSponsorship.get('endSponsorship').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                    <ion-toolbar>
                        <ion-button shape="round" type="submit" [disabled]="!dataSponsorship.valid" expand="full">
                            Finalizar Registro</ion-button>
                    </ion-toolbar>
                </ion-card-content>
            </ion-card>
        </form> -->
    <!-- </div> -->
</ion-content>
