<app-ion-header title="Patrocinadores"></app-ion-header>

<ion-content color="light">
  <!-- Redirige al formulario para patrocinar un proyecto -->
  <a routerLink="/sponsorshipform">
    <img src="assets/img/patrocinaunproyecto.png">
  </a>
  <!-- Baner para hacer transición entre Empresa y P.Natural -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Patrocina como:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <!-- Los botones estan configurados para que cuando se activen se desactiven y se les de color -->
      <ion-tab-bar>
        <ion-tab-button [selected]="activate ? 'false' : 'true'" (click)="patrocinoNatural()">
          <ion-icon name="person-outline"></ion-icon>
          <ion-label>P.Natural</ion-label>
        </ion-tab-button>

        <ion-tab-button [selected]="activate ? 'true' : 'false'" (click)="patrocinoEmpresas()">
          <ion-icon name="business-outline"></ion-icon>
          <ion-label>Empresa</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-card-content>
  </ion-card>
  <!-- Información que se desplegara por defecto y cuando se active el boton P.Natural -->
  <div>
    <ion-card id="PersonaNatural">
      <ion-card-header>
        <ion-card-title>Proyectos patrocinados</ion-card-title>
      </ion-card-header>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Protección Páramo</ion-card-title>
        </ion-card-header>
        <img src="assets/img/fondo.jpg">
        <ion-card-content>

          <ion-progress-bar value="0.25" buffer="0.25"></ion-progress-bar>
          <p>25% Financiado <br></p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Titulo del proyecto</ion-card-title>
        </ion-card-header>
        <img src="assets/img/fondo.jpg">
        <ion-card-content>
          <ion-progress-bar value="0.40" buffer="0.40"></ion-progress-bar>
          <p>40% Financiado <br></p>
        </ion-card-content>
      </ion-card>
    </ion-card>
    <!-- Baner para mostrar las personas destacadas que patrocinaron proyectos -->
    <ion-slides pager="true" [options]="slideOpts" class="BannerPersonas" *ngIf="!activate">
      <ion-slide>
        <ion-card>
          <img src="assets/img/Persona2.jpg" id="ImgBannerPersonas">
          <ion-card-header>
            <ion-card-title>Fernanda Pabon</ion-card-title>
            <p>Comerciante<br></p>
          </ion-card-header>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="assets/img/Persona3.jpg" id="ImgBannerPersonas">
          <ion-card-header>
            <ion-card-title>Daniel Diaz</ion-card-title>
            <p>Comerciante<br></p>
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>

  <!--  Información que se desplegara cuando se active el boton Empresa  -->
  <div>
    <ion-card id="Empresas" style="display: none;">
      <ion-card-header>
        <ion-card-title>Proyectos patrocinados</ion-card-title>
      </ion-card-header>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Protección Páramo</ion-card-title>
        </ion-card-header>
        <img src="assets/img/fondo.jpg">
        <ion-card-content>
          <ion-progress-bar value="0.25" buffer="0.25"></ion-progress-bar>
          <p>25% Financiado <br></p>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Titulo del proyecto</ion-card-title>
        </ion-card-header>
        <img src="assets/img/fondo.jpg">
        <ion-card-content>
          <ion-progress-bar value="0.40" buffer="0.40"></ion-progress-bar>
          <p>40% Financiado <br></p>
        </ion-card-content>
      </ion-card>
    </ion-card>

    <!-- Baner para mostrar las Empresas destacadas que patrocinaron proyectos -->
    <ion-slides pager="true" [options]="slideOpts" class="BannerEmpresas" *ngIf="activate">
      <ion-slide>
        <ion-card>
          <img src="assets/img/Cinemark.png" id="ImgBannerEmpresas">
          <ion-card-header>
            <ion-card-title>Estados Unidos</ion-card-title>
            <p>Cadena de Cines<br></p>
          </ion-card-header>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card>
          <img src="assets/img/ecopetrol.png" id="ImgBannerEmpresas">
          <ion-card-header>
            <ion-card-title>Colombia</ion-card-title>
            <p>Empresa de Petroleos S.A</p>
          </ion-card-header>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>