.section-with-bg {
    background-color: #f6f7fd;
  }
/*importa tipografias*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
a,h1,h2,h3,h4,h5,h6,p{
  font-family: "Poppins", sans-serif;
}

/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#8CBF3F;
$COLOR-title:#0e1b4d;


.logo{
    width: 25%;
    height: 30%;
   align-content: center;
   margin-bottom: 2%;
  
  }

#intro {
    width: 100%;
    height: 100vh;
    background: url(/assets/images/back3.jpg) top center;
    
    background-size: cover;
    overflow: hidden;
    position: relative;
  }
  
  // #intro:before {
  //   content: "";
  //   background: rgba(6, 12, 34, 0.8);
  //   position: absolute;
  //   bottom: 0;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  // }
  
  #intro .intro-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }

  #intro p {
    color: #ebebeb;
    font-weight: 700;
    font-size: 20px;
  }
  #intro .download-btn {
    display: inline-block;
      //margin-left: 43%;
      margin-top: 2%;
      //margin-bottom: 5%;
      color: #fff;
      background: transparent;
      padding: 10px 22px;
      border-radius: 50px;
      border: 2px solid  $COLOR-PRIMARY;
      transition: all ease-in-out 0.3s;
      font-weight: 500;
      line-height: 1;
      box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
      font-size: 18px;
  }
  #intro .download-btn:hover {
    background: none;
    color: $COLOR-PRIMARY;
  }
  
  #intro a{
    color: #fff;
    text-decoration: none;
  }

#intro .play-btn {
    width: 94px;
    height: 94px;
    box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
    background: radial-gradient($COLOR-PRIMARY 50%, rgba(167, 209, 248, 0.5) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
    margin-top: 2%;
  }
  
  #intro .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  #intro .play-btn:before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid $COLOR-PRIMARY;
    top: -15%;
    left: -15%;
    background: rgba(255, 222, 89, 0);
  }
  
  #intro .play-btn:hover::after {
    border-left: 15px solid $COLOR-PRIMARY;
    transform: scale(20);
  }
  
  #intro .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
  }
  #intro .btn-get-started {
    font-size: 46px;
    color: #fff;
  }
  

  @-webkit-keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
    100% {
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  /*--------------------------------------------------------------
# udes Section
--------------------------------------------------------------*/

#video{
  top:90px;
}
// #video .video-box  {
//   width: 100%;
//   height: 50vh;
//   background: url(/assets/images/udes-verde.jpg) no-repeat;
  
//   background-size: cover;
//   overflow: hidden;
//   position: relative;
// }
.videoPlayer{
  height:auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
#video h2{
  font-size: 30px;
    color: $COLOR-title;
   font-weight: bold;
   text-align: center;
   margin-top: 10%;
}
#video p{
  text-align: center;
  font-size: 18px;
  color: grey;
}
  /*--------------------------------------------------------------
# Promo Section
--------------------------------------------------------------*/
#promo{
  //margin-top: 10%;
}
.promo h2{
  font-size: 30px;
  color: $COLOR-title;
   font-weight: bold;
   text-align: center;
   margin-top: 5%;
  }
 .promo ion-icon{
     font-size: 40px;
     color: $COLOR-title;
 }

  .promo .icon-box {
    padding: 30px;
    height: 100%;
    margin-top: 10%;
    position: relative;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
  }
  .promo .icon-box2{
    padding: 30px;
    height: 100%;
    margin-top: 10%;
    position: relative;
    overflow: hidden;
    //background:#fce4cf;
    background:#dbf0ff;
    box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    z-index: 1;
  }
  a{
    text-decoration: none;
  }
  .promo .icon-box::before {
    content: '';
    position: absolute;
    background: white;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.3s;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
  .promo .icon-box2::before {
    content: '';
    position: absolute;
    background: white;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    transition: all 0.3s;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
  
  .promo .icon-box:hover::before {
    background: $COLOR-PRIMARY;
    top: 0;
    border-radius: 0px;
  }
  .promo .icon-box2:hover::before {
    background: $COLOR-PRIMARY;
    top: 0;
    border-radius: 0px;
  }
  .promo .icon {
    margin-bottom: 15px;
    text-align: center;
  }
  .promo .title {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    text-align: center;
  }
  
  .promo .title a {
    //color: #7eac39;
    color: $COLOR-PRIMARY;
    text-decoration: none;
    text-align: center;
  }
  
  .promo .description {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: center;
    color:grey;
  }
  
  .promo .icon-box:hover .title a, .promo .icon-box:hover .description , .promo .icon-box:hover .icon ion-icon {
    color: #fff;
  }

  .promo .icon-box2:hover .title a, .promo .icon-box2:hover .description, .promo .icon-box2:hover .icon ion-icon{
    color: #fff;
  }

/*--------------------------------------------------------------
# Benefits Section
--------------------------------------------------------------*/
  #benefits{
      margin-top: 10%;
  }
  #benefits .img-banner{
    width: 100%;
    height: 40%;
    //2240*642
    
  }
#benefits h2{
  font-size: 30px;
    color: $COLOR-title;
   font-weight: bold;
   text-align: center;

}
  /*--------------------------------------------------------------
# Foot Section
--------------------------------------------------------------*/
#foot{
  margin-top: 10%;
}
.foot h2{
    font-size: 30px;
    color: $COLOR-title;
   font-weight: bold;
   text-align: center;
   margin-top: 10%;
  }
.foot p{
  text-align: center;
  font-size: 18px;
  color: grey;
}
  .img-foot{
      width: 100%;
      height: 40vh;
    //margin-left: 40%;
  }
  #foot .download-btn {
    display: inline-block;
      margin-left: 43%;
      margin-top: 2%;
      margin-bottom: 5%;
      color: #fff;
      background: $COLOR-PRIMARY;
      padding: 10px 22px;
      border-radius: 50px;
      border: 2px solid  $COLOR-PRIMARY;
      transition: all ease-in-out 0.3s;
      font-weight: 500;
      line-height: 1;
      box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
      font-size: 18px;
  }
  #foot .download-btn:hover {
    background: none;
    color: $COLOR-PRIMARY;
  }
  
  #foot a{
    color: #fff;
    text-decoration: none;
  }
  
  #foot .download-btn ion-icon {
    font-size: 20px;
    position: absolute;
    left: 18px;
    top: 8.5px;
  }

  
  /*--------------------------------------------------------------
# Services Section
--------------------------------------------------------------*/
#services{
    //background: url(/assets/images/mountain2.png) no-repeat;
    margin-bottom: 0%;
    margin-top: 10%;
  }
  .services h2{
    font-size: 30px;
    color: $COLOR-title;
    font-weight: bold;
   text-align: center;
  }
  .services h5{
    font-size: 20px;
    color:grey;
    text-align: center;
    margin-bottom: 5%;
  }

  .img-icon2{
    height: 100px;
    width: 100px;
    align-content: center;
    border-radius: 50px;
  }
  .services .icon {
    margin-bottom: 15px;
    text-align: center;
  }
  
  .services .img-icon2:hover{
    box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
       border-radius: 50px;
   }
  .services .description {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 0;
    text-align: center;
    color:$COLOR-PRIMARY
  }
/*--------------------------------------------------------------
# Team Section
--------------------------------------------------------------*/
#team{
  margin-top: 10%;
}

.single-team {
    -webkit-box-shadow: 0px 0px 30px 0px rgba(167, 167, 167, 0.16);
    -moz-box-shadow: 0px 0px 30px 0px rgba(167, 167, 167, 0.16);
    box-shadow: 0px 0px 30px 0px rgba(167, 167, 167, 0.16);
    overflow: hidden;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    margin-left: 10%; }
    .single-team .team-image {
      position: relative; }
      .single-team .team-image img {
        width: 100%; }
  
        #team .team-image:hover img {
            transform: scale(1.2);
          }
    .single-team .team-content {
      padding: 10px;
      background-color: #e4f8ba; 
      text-align: center;}
      .single-team .team-content .holder-name a {
        font-size: 20px;
        font-weight: 700;
        color: #2E2E2E; }
        
      .single-team .team-content .text {
        margin-top: 5px; }
        .team h2{
          font-size: 30px;
          color: $COLOR-title;
         font-weight: bold;
         text-align: center;
         margin-top: 2%;
         margin-bottom: 6%;
        }
        #team .team-btn {
          display: inline-block;
        // position: relative;
          margin-left: 45%;
          margin-top: 5%;
          margin-bottom: 5%;
          color: #fff;
          background: $COLOR-PRIMARY;
          padding: 10px 22px;
          border-radius: 50px;
          border: 2px solid  $COLOR-PRIMARY;
          transition: all ease-in-out 0.3s;
          font-weight: 500;
          line-height: 1;
          font-size: 15px;
          box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
      }
      #team .team-btn:hover {
        background: none;
        color: $COLOR-PRIMARY;
      }
      #team a{
        color: #fff;
        text-decoration: none;
      }
/*--------------------------------------------------------------
# App Section
--------------------------------------------------------------*/
#app{
  margin-top: 10%;
}
.app h2{
    font-size: 30px;
    color: $COLOR-title;
   font-weight: bold;
   text-align: center;
   margin-top: 25%;
  }
  #app .download-btn {
    font-weight: 500;
    font-size: 15px;
    box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
    display: inline-block;
    padding: 8px 24px 10px 46px;
    border-radius: 50px;
    transition: all ease-in-out 0.3s;
    color: #fff;
    background: $COLOR-PRIMARY;
    position: relative;
    border: 2px solid  $COLOR-PRIMARY;
    margin-left: 25%;
    margin-top: 5%;
  }
  #app .download-btn:hover {
    background: none;
    color: $COLOR-PRIMARY;
  }
  
  #app a{
    color: #fff;
    text-decoration: none;
  }
  
  #app .download-btn ion-icon {
    font-size: 20px;
    position: absolute;
    left: 18px;
    top: 8.5px;
  }
  
  #app .download-btn + .download-btn {
    margin-left: 40px;
  }
  /*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/
#footer .footer-top {
    padding: 60px 0 30px 0;
    background: $COLOR-PRIMARY;
  }

  #footer .footer-top .social-links a {
    font-size: 36px;
    display: inline-block;
    color: $COLOR-title;
    margin-right: 25px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .footer-top .social-links a:hover {
    color: #fff;
    text-decoration: none;
  }
  #footer strong ,h3{
    color: $COLOR-title;
    font-weight: bold;
  }
  #footer p{
    color: $COLOR-title;
  }

  .wrapper {
    width: 80%;
    margin: auto;
    overflow:hidden;
  }
  ion-header {
    background: rgba($COLOR-title,0.4);
    width:auto;
    position: fixed;
    z-index: 10;
  }
  ion-menu-button{
    color: #fff;
    font-size: 30px;
}
  /*--------------------------------------------------------------
# Change with device Section
--------------------------------------------------------------*/

@media (max-width: 1350px) {
    .logo{
      width: 25%;
      height: 20%;
    }
  }
  @media (min-width: 1024px) {
    #intro {
      background-attachment: fixed;
    }
    
  }
  
  @media (min-width:806px )and (max-width: 1023px) {
    #intro .intro-container {
      top: 5px;
    }
    .logo{
      width: 30%;
      height: 20%;
    }
    #intro p {
      font-size: 22px;
      margin-top: 2%;
    }
  
    #app .download-btn {
      margin-left: 18%;
      margin-top: 5%;
    }
    #app .download-btn + .download-btn {
      margin-left: 20px;
    }
    #benefits h2{
      font-size: 20px;
     margin-top: 1%;
    }
    #benefits .benefits-btn {
      font-weight: 500;
      font-size: 15px;
      margin-left: 30%;
      margin-top: 5%;
    }
  }
  @media (min-width: 751px) and (max-width: 805px){
    #app .download-btn {
      margin-left: 5%;
      margin-top: 5%;
    }
    #video h2{
      font-size: 20px;
       margin-top: 10%;
    }
    #video p{
      font-size: 16px;
    }
    #foot h2{
      font-size: 20px;
       margin-top: 10%;
    }
    #foot p{
      font-size: 16px;
    }
    #app .download-btn + .download-btn {
      margin-left: 10px;
    }
    .logo{
      width: 33%;
      height: 15%;
      // margin-top: 8%;
    }
    #intro p {
      font-size: 22px;
      margin-top: 2%;
    }
    .services h5{
      font-size: 25px;
      margin-bottom: 2%;
    }
  
    .services .description {
      font-size: 18px;
      margin-bottom: 0;
    }
    #benefits h2{
      font-size: 20px;
     margin-top: 1%;
    }

    #benefits .benefits-btn {
      font-weight: 500;
      font-size: 15px;
      margin-left: 25%;
      margin-top: 5%;
    }
  }
  @media (min-width: 678px) and (max-width: 750px){
    .logo{
      width: 30%;
      height: 15%;
      //margin-top: 8%;
    }
    #video h2{
      font-size: 20px;
       margin-top: 10%;
    }
    #video p{
      font-size: 16px;
    }
    #foot h2{
      font-size: 20px;
       margin-top: 10%;
    }
    #foot p{
      font-size: 16px;
    }
    #intro p {
      font-size: 22px;
      margin-top: 2%;
    }

    #app .download-btn {
      margin-left: 5%;
      margin-top: 5%;
    }
    #app .download-btn + .download-btn {
      margin-left: 10px;
    }
    .app h2{
      font-size: 28px;
    }
    .services h5{
      font-size: 25px;
      margin-bottom: 2%;
    }
  
    .services .description {
      font-size: 18px;
      margin-bottom: 0;
    }
  
    #benefits h2{
      font-size: 20px;
     margin-top: 1%;
    }
    #benefits .benefits-btn {
      font-weight: 500;
      font-size: 15px;
      margin-left: 18%;
      margin-top: 5%;
    }
  }
  @media (min-width: 647px) and (max-width: 677px){
    #app .download-btn {
      margin-left: 2%;
      margin-top: 5%;
    }
    #app .download-btn + .download-btn {
      margin-left: 5px;
    }
    #video h2{
      font-size: 20px;
       margin-top: 10%;
    }
    #video p{
      font-size: 16px;
    }
    #foot h2{
      font-size: 20px;
       margin-top: 10%;
    }
    #foot p{
      font-size: 16px;
    }
    .app h2{
      font-size: 25px;
    }
    .logo{
      width: 25%;
      height: 15%;
     // margin-top: 8%;
    }
    #intro p {
      font-size: 22px;
      margin-top: 2%;
    }
    .services h5{
      font-size: 25px;
      margin-bottom: 2%;
    }
  
    .services .description {
      font-size: 18px;
      margin-bottom: 0;
    }
    #intro h5 {
      font-size: 22px;
    }
    #benefits h2{
      font-size: 18px;
     margin-top: 1%;
    }

    #benefits .benefits-btn {
      font-weight: 500;
      font-size: 15px;
      margin-left: 20%;
      margin-top: 5%;
    }
  }
  @media (min-width: 576px) and (max-width: 646px){
    #app .download-btn {
      margin-left: 1%;
      margin-top: 3%;
    }
    #app .download-btn + .download-btn {
      margin-left: 3px;
    }
    #video h2{
      font-size: 20px;
       margin-top: 10%;
    }
    #video p{
      font-size: 14px;
    }
    #foot h2{
      font-size: 20px;
       margin-top: 10%;
    }
    #foot p{
      font-size: 14px;
    }
    .app h2{
      margin-top: 10%;
      font-size: 25px;
    }
    .logo{
      width: 30%;
      height: 15%;
      //margin-top: 8%;
    }
    #intro p {
      font-size: 22px;
      margin-top: 2%;
    }
    #benefits h2{
      font-size: 18px;
     margin-top: 1%;
    }

    #benefits .benefits-btn {
      font-weight: 500;
      font-size: 15px;
      margin-left: 15%;
      margin-top: 5%;
    }
      #team .team-btn {
        margin-left: 43%;
        margin-top: 5%;
        margin-bottom: 5%;
     
    }
  }
  @media (min-width: 480px) and (max-width: 575px){
    .logo{
      width: 30%;
      height: 15%;
      //margin-top: 15%;
    }
    #intro p {
      margin-top: 2%;
      font-size: 22px;
    }
  
    #app .download-btn {
      margin-left: 18%;
      margin-top: 5%;
    }
    #app .download-btn + .download-btn {
      margin-left: 20px;
    }
    .app h2{
      font-size: 25px;
      margin-top: 3%;
    }
    .services h5{
        font-size: 18px;
        margin-bottom: 2%;
      }
    // .foot h2{
    //     font-size: 30px;
    //    margin-top: 10%;
    //   }
    
    //   .img-foot{
    //       width: 100%;
    //       height: 40vh;
    //     //margin-left: 40%;
    //   }
      #foot .download-btn {
          margin-left: 40%;
          margin-top: 5%;
          margin-bottom: 5%;
          font-size: 18px;
      }
      #benefits .img-banner{
        width: 100%;
        height: 40vh;
        //2240*642
      }
      .team h2{
        font-size: 25px;
       margin-top: 2%;
       margin-bottom: 2%;
      }
      #team .team-btn {
        margin-left: 40%;
        margin-top: 5%;
        margin-bottom: 5%;
     
    }
  }
  @media (min-width: 361px) and (max-width: 479px){
    .logo{
      width: 33%;
      height: 15%;
      //margin-top: 15%;
    }
    #intro p {
      margin-top: 2%;
      font-size: 22px;
    }
   
    #app .download-btn {
      margin-left: 10%;
      margin-top: 5%;
    }
    #app .download-btn + .download-btn {
      margin-left: 10px;
    }
    .app h2{
      font-size: 25px;
      margin-top: 3%;
    }

    #benefits h2{
      font-size: 20px;
     margin-top: 1%;
    }
    #benefits .benefits-btn {
      font-weight: 500;
      font-size: 15px;
      margin-left: 35%;
      margin-top: 5%;
    }
    .services h5{
        font-size: 18px;
        margin-bottom: 2%;
      }
    // .foot h2{
    //     font-size: 30px;
    //    margin-top: 10%;
    //   }
    
    //   .img-foot{
    //       width: 100%;
    //       height: 40vh;
    //     //margin-left: 40%;
    //   }
      #foot .download-btn {
          margin-left: 35%;
          margin-top: 5%;
          margin-bottom: 5%;
          font-size: 18px;
      }
      #benefits .img-banner{
        width: 100%;
        height: 40vh;
        //2240*642
      }
      .team h2{
        font-size: 25px;
       margin-top: 2%;
       margin-bottom: 2%;
      }
      #team .team-btn {
        margin-left: 30%;
        margin-top: 5%;
        margin-bottom: 5%;
     
    }
  }
  @media (min-width: 240px) and (max-width: 360px){
    .logo{
      width: 30%;
      height: 10%;
    }
    #intro p {
      margin-top: 2%;
      font-size: 20px;
    }
    #app .download-btn {
      margin-left: 1%;
      margin-top: 5%;
    }
    #app .download-btn + .download-btn {
      margin-left: 2px;
    }
    .app h2{
      font-size: 25px;
      margin-top: 3%;
    }

    #benefits .benefits-btn {
      font-weight: 500;
      font-size: 15px;
      margin-left: 25%;
      margin-top: 5%;
    }
    .services h5{
        font-size: 18px;
        margin-bottom: 2%;
      }
    // .foot h2{
    //     font-size: 30px;
    //    margin-top: 10%;
    //   }
    
    //   .img-foot{
    //       width: 100%;
    //       height: 40vh;
    //     //margin-left: 40%;
    //   }
      #foot .download-btn {
          margin-left: 35%;
          margin-top: 5%;
          margin-bottom: 5%;
          font-size: 18px;
      }
      #benefits .img-banner{
        width: 100%;
        height: 40vh;
        //2240*642
      }
      .team h2{
        font-size: 25px;
       margin-top: 2%;
       margin-bottom: 2%;
      }
      #team .team-btn {
        margin-left: 30%;
        margin-top: 5%;
        margin-bottom: 5%;
     
    }
  }
  @media (orientation: landscape){
    .logo{
      width: 20%;
      height: 22%;
    }
    // #intro h5 {
    //   font-size: 18px;
    // }
  }