<ion-content>
  <ion-header>
    <section class="wrapper">
      <ion-menu-button></ion-menu-button>
      </section>
  </ion-header>
    <!-- ======= Intro Section ======= -->
    <section id="intro">
      <!-- <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons> -->
      <div class="intro-container">
        <img src="../assets/images/logo-blanco.png" class="logo">
        <p >Estrategias proactivas para la mejora de la calidad del aire</p>  
        <source *ngFor="let video of items" class="play-btn" (click)="videomodal(video.url)">
            <a routerLink="/login" class="download-btn" *ngIf="!user"> Iniciar sesión</a>
            <a routerLink="/login" class="download-btn" *ngIf="user"> Iniciar sesión</a>
            <a class="btn-get-started"><ion-icon name="chevron-down-outline"></ion-icon></a>
      </div>
    </section><!-- End Intro Section -->
    
    <!-- <section id="video">
    <ion-row >
    <ion-col class="video-box" size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
      <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
        <source src="../assets/video/udes.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    </ion-col>
  <ion-col  size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
    <h2>Sendero Ecológico UDES Verde</h2>
    <p>Conozca el gran ecosistema de fauna y flora que alberga la universidad de santander Udes en el campus de Bucaramanga</p>
    </ion-col>
    </ion-row>
    </section> -->

       <!-- ======= Promo Section ======= -->
       <section id="promo" class="promo ">
        <h2>Contribuya en la mejora de la calidad del aire</h2>
        <ion-row>
            <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
              <a routerLink="/login/registry">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><ion-icon name="person-add-outline"></ion-icon></div>
                <h4 class="title"><a  routerLink="/login/registry">Regístrese</a></h4>
                <p class="description">Cree un usuario y acceda a todos los servicios</p>
              </div>
            </a>
            </ion-col>
          <ion-col s size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
            <a routerLink="/allprojects/projectsdetails/modal-image" (click)="popUp()"> 
            <div class="icon-box2" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><ion-icon name="heart-circle-outline"></ion-icon></div>
              <h4 class="title"><a routerLink="/allprojects/projectsdetails/modal-image" (click)="popUp()">Aporte Voluntario</a></h4>
              <p class="description">Ayúdenos a ayudar al medio ambiente</p>
            </div>
          </a>
          </ion-col>
          <ion-col  size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
            <a routerLink="/projectregistrationform">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><ion-icon name="add-circle-outline"></ion-icon></div>
              <h4 class="title"><a routerLink="/projectregistrationform">Registre un proyecto</a></h4>
              <p class="description">Agregue un proyecto que ayude a mitigar el CO<sub>2</sub></p>
            </div>
          </a>
          </ion-col>
          <ion-col s size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
            <a href="/allprojects" >
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><ion-icon name="cash-outline"></ion-icon></div>
              <h4 class="title"><a href="/allprojects" >Patrocine un proyecto</a></h4>
              <p class="description">Contribuya a la preservación de bosques</p>
            </div>
          </a>
          </ion-col>
        </ion-row> 
      </section><!-- End Promo Section -->
    
       <!-- ======= team Section ======= -->
       <section id="team" class="team section-with-bg">
        <h2>Sea parte del equipo 10R</h2>
        <ion-row>
          <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="6" size-xl="3">
            <ion-card class="single-team " >
              <div class="team-image">
                  <img src="../assets/team/team-1.jpg" alt="Team">
              </div>
              <!-- <div class="team-content">
                  <h5 class="holder-name">Felipe Saenz</h5>
              </div> -->
          </ion-card>
          </ion-col>
          <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="6" size-xl="3">
            <ion-card class="single-team " >
              <div class="team-image">
                  <img src="../assets/team/team-2.jpg" alt="Team">
              </div>
              <!-- <div class="team-content">
                  <h5 class="holder-name">Santiago Moreira</h5>
              </div> -->
          </ion-card>
          </ion-col>
          <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="6" size-xl="3">
            <ion-card class="single-team " >
              <div class="team-image">
                  <img src="../assets/team/team-3.jpg" alt="Team">
              </div>
              <!-- <div class="team-content">
                  <h5 class="holder-name">Laura Carvajal</h5>
              </div> -->
          </ion-card>
          </ion-col>
          <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="6" size-xl="3">
            <ion-card class="single-team" >
              <div class="team-image">
                  <img src="../assets/team/team-4.png" alt="Team">
              </div>
              <!-- <div class="team-content">
                  <h5 class="holder-name">Jhon Beltran</h5>
              </div> -->
          </ion-card>
          </ion-col>    
        </ion-row> 
         <a href="" class="team-btn">Conozca más</a>
      </section><!-- End Promo Section -->

      <!-- ======= foot Section =======style="background-color:#e6e6e6;" -->
      <section id="foot" class="foot">
        <ion-row>
          <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
            <h2>Calcule su huella de carbono</h2>
            <p>Le permite contabilizar sus emisiones de CO<sub>2</sub> tomando en cuenta las compras de productos y servicios, alimentación, actividades recreativas, transportación entre otros.</p>
            <a routerLink="/carbonfootprintform" class="download-btn"> Calcular</a>
          </ion-col>
          <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6" >
            <img src="../assets/images/foot.png" class="img-foot" >
          </ion-col>
        </ion-row> 
      </section><!-- End foot Section -->
    
       <!-- ======= Services Section ======= -->
       <section id="services" class="services section-with-bg">
        <h2>Servicios</h2>
          <h5>Registrar y patrocinar un proyecto forestal incluye estos servicios</h5>
        <ion-row>
          <ion-col size-md="2" size-lg="2" size-sm="4" size-xs="12" size-xl="2">
            <div class="icon"><img src="../assets/iconos/8.png" class="img-icon2"></div>
            <p class="description">Abono</p>
          </ion-col>
          <ion-col size-md="2" size-lg="2" size-sm="4" size-xs="12" size-xl="2">
             <div class="icon"><img src="../assets/iconos/7.png" class="img-icon2"></div>
             <p class="description">Riego</p>
           </ion-col>
           <ion-col size-md="2" size-lg="2" size-sm="4" size-xs="12" size-xl="2">
             <div class="icon"><img src="../assets/iconos/9.png" class="img-icon2"></div>
             <p class="description">Control y seguimiento</p>
           </ion-col>
           <ion-col size-md="2" size-lg="2" size-sm="4" size-xs="12" size-xl="2">
             <div class="icon"><img src="../assets/iconos/10.png" class="img-icon2"></div>
             <p class="description">Control de plagas</p>
           </ion-col>
           <ion-col size-md="2" size-lg="2" size-sm="4" size-xs="12" size-xl="2">
             <div class="icon"><img src="../assets/iconos/11.png" class="img-icon2"></div>
             <p class="description">Líneas corta fuegos</p>
           </ion-col>
          <ion-col size-md="2" size-lg="2" size-sm="4" size-xs="12" size-xl="2" >
              <div class="icon"><img src="../assets/iconos/12.png" class="img-icon2"></div>
              <p class="description">Poda de árboles</p>
            </ion-col>
        </ion-row> 
        
      </section><!-- End Services Section -->
        
          <!-- ======= Benefits Section ======= -->
          <section id="benefits" class="benefits" >
            <h2>Noticias</h2>
          <ion-col size-md="12" size-lg="12" size-sm="12" size-xs="12" size-xl="12"> 
            <ion-slides pager="true" [options]="slideOpts">
              <ion-slide>
               <ion-card mode="ios">
                <img src="../assets/images/banner2.jpg" class="img-banner">
               </ion-card>
              </ion-slide>
              <ion-slide>
               <ion-card mode="ios">
                <img src="../assets/images/banner-beneficios2.jpg" class="img-banner">
               </ion-card>
              </ion-slide>
              
            </ion-slides>
          </ion-col>
    
          </section><!-- End Benefits Section -->
    

    
      
    
           <!-- ======= App Section ======= -->
    <section id="app" class="app ">
      <ion-row>
        <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
          <h2>Descargue nuestra aplicación</h2>
          <a href="#" class="download-btn"><ion-icon name="logo-google-playstore"></ion-icon> Google Play</a>
          <a href="#" class="download-btn"><ion-icon name="logo-apple"></ion-icon> App Store</a>
        </ion-col>
        <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6" >
          <img src="../assets/images/down2.png" >
        </ion-col>
      </ion-row> 
    </section><!-- End App Section -->
    
    <!-- ======= Footer Section ======= -->
    <section id="footer" class="footer">
      <div class="footer-top">
        <ion-row>
          <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
            <h3>Aire más limpio</h3>
          <!-- <img src="../assets/iconos/logo-blanco.png" class="img-icon"> -->
          <p>Estrategias proactivas para la mejora de la calidad del aire</p>
          <div class="social-links">
            <a href="#" class="twitter"><ion-icon name="logo-twitter"></ion-icon></a>
            <a href="#" class="facebook"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="#" class="instagram"><ion-icon name="logo-instagram"></ion-icon></a>
          </div>
          </ion-col>
          <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
            <h3>Contacto</h3>
            <p>
              Universidad de santander <br>
              Calle 70 N° 55-210, Bucaramanga, Santander<br>
              Colombia
            </p>
          </ion-col>
          <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
            <p>
              <strong>Teléfono:</strong> (+57) 3219413463 / (+57) 3106955069<br><br>
              <strong>Email:</strong>  10airelimpio@gmail.com <br>wpardaveudes@gmail.com<br>
            </p>
          </ion-col>
        </ion-row>
    </div>
    </section><!-- End Footer Section -->
    </ion-content>
    