<!-- <app-ion-header title="Registro de usuarios"></app-ion-header> -->

<ion-content>
<section id="register">
    <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        <ion-title class="title">REGISTRO DE USUARIOS</ion-title>
      </ion-buttons>
    <ion-card id="contenedor">
        <ion-segment class="tabs" [(ngModel)]="selectTabs">
            <ion-segment-button value="naturalPerson">
                <ion-label>Personas</ion-label>
            </ion-segment-button>
            <ion-segment-button value="business">
                <ion-label>Empresas</ion-label>
            </ion-segment-button>
        </ion-segment>
        <div id="naturalPerson" *ngIf="selectTabs== 'naturalPerson'">
        <ion-card-content>
            <form [formGroup]="RegistryPNatural" (ngSubmit)="saveDataPNatural(RegistryPNatural.value)">
                    <ion-row>
                        <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                            <p>Nombres</p>
                            <ion-input formControlName="name" placeholder="Nombres"></ion-input>
                            <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.name">
                                <div class="error-message"
                                    *ngIf="RegistryPNatural.get('name').hasError(validation.type) && (RegistryPNatural.get('name').dirty || RegistryPNatural.get('name').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                        </ion-col>
                        <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                            <p>Apellidos</p>
                            <ion-input formControlName="lastName" placeholder="Apellidos"></ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.lastName">
                                    <div class="error-message"
                                        *ngIf="RegistryPNatural.get('lastName').hasError(validation.type) && (RegistryPNatural.get('lastName').dirty || RegistryPNatural.get('lastName').touched)">
                                        <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                            <p>Correo electrónico</p>
                            <ion-input (keypress)="Event($event.keyCode)" (click)="presentToast1()" formControlName="email"
                        type="email" placeholder="Correo electrónico"></ion-input>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.email">
                        <div class="error-message"
                            *ngIf="RegistryPNatural.get('email').hasError(validation.type) && (RegistryPNatural.get('email').dirty || RegistryPNatural.get('email').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                        </ion-col>
                        <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                            <p>Número de celular</p>
                                <ion-input formControlName="cellPhone" placeholder="Número de celular"></ion-input>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.cellPhone">
                                    <div class="error-message"
                                        *ngIf="RegistryPNatural.get('cellPhone').hasError(validation.type) && (RegistryPNatural.get('cellPhone').dirty || RegistryPNatural.get('cellPhone').touched)">
                                        <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                        </ion-col>
                    </ion-row>
                    

                <div formGroupName="passwordRetry">
                    <ion-row>
                        <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                         <!-- se utiliza un boton para cambiar el tipo de text de Password a text -->
                                         <p>Contraseña</p>
                        <ion-input formControlName="password" [type]="hide1 ? 'text' : 'password'"
                        placeholder="Contraseña">
                        <ion-button (click)="hide1 = !hide1">
                            <ion-icon [name]="hide1 ? 'eye-off' : 'eye'"></ion-icon>
                        </ion-button>
                    </ion-input>
                    <small >
                        Debe contener al menos 6 caracteres (Una mayúscula, una minúscula y un número)
                    </small>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.password">
                        <div class="error-message"
                            *ngIf="RegistryPNatural.get('passwordRetry').get('password').hasError(validation.type) && (RegistryPNatural.get('passwordRetry').get('password').dirty || RegistryPNatural.get('passwordRetry').get('password').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                        </ion-col>
                        <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                            <p>Confirmar Contraseña</p>
                            <ion-input (keypress)="eventHandler($event.keyCode)" formControlName="passwordConfirmation"
                            type="password" placeholder="Confirmar contraseña"></ion-input>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.passwordConfirmation">
                            <div class="error-message"
                                *ngIf="RegistryPNatural.get('passwordRetry').get('passwordConfirmation').hasError(validation.type) && (RegistryPNatural.get('passwordRetry').get('passwordConfirmation').dirty || RegistryPNatural.get('passwordRetry').get('passwordConfirmation').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                        </ion-col>
                    </ion-row>
                </div>
                <input formControlName="termsAndConditions" type="checkbox"><a href="" interface="popover"> He leído y acepto los términos y condiciones</a>
                    <br> <br>
                <ion-button id="send" shape="round" expand="full" type="submit"  [disabled]="!RegistryPNatural.valid" expand="full">Registrar</ion-button>
        <hr>
        <p class="link">¿Ya tiene una cuenta?
            <a routerLink="/login">Inicie Sesión</a>
          </p>
          <br>
          <p class="link">  <a routerLink="/home" >Volver al inicio</a></p>
            </form>
        </ion-card-content>
</div>

<div id="business" *ngIf="selectTabs== 'business'">
    <ion-card-content>
        <form [formGroup]="RegistryBusiness" (ngSubmit)="saveDataEmpresa(RegistryBusiness.value)">
            <h3>Datos de la empresa</h3>
            <ion-row>
                <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                    <p>Nit</p>
                    <ion-input formControlName="nit" placeholder="Nit"></ion-input>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.nit">
                            <div class="error-message"
                                *ngIf="RegistryBusiness.get('nit').hasError(validation.type) && (RegistryBusiness.get('nit').dirty || RegistryBusiness.get('nit').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
                <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                    <p>Nombre de la empresa</p>
                    <ion-input formControlName="companyName" placeholder="Nombre de la empresa"></ion-input>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.companyName">
                            <div class="error-message"
                                *ngIf="RegistryBusiness.get('companyName').hasError(validation.type) && (RegistryBusiness.get('companyName').dirty || RegistryBusiness.get('companyName').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                    <p>Actividad económica</p>
                    <!-- <ion-input formControlName="companyActivity" placeholder="Actividad económica"></ion-input> -->
                    <ion-select formControlName="companyActivity" placeholder="Seleccionar" interface="popover">
                        <ion-select-option *ngFor="let actividad of Actividad">
                            <h2>{{ actividad.title }}</h2>
                        </ion-select-option>
                        </ion-select>
                    <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.companyActivity">
                        <div class="error-message"
                            *ngIf="RegistryBusiness.get('companyActivity').hasError(validation.type) && (RegistryBusiness.get('companyActivity').dirty || RegistryBusiness.get('companyActivity').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>  
                </ion-col>
                <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                    <p>Dirección</p>
                    <ion-input formControlName="direction" placeholder="Dirección"></ion-input>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.direction">
                            <div class="error-message"
                                *ngIf="RegistryBusiness.get('direction').hasError(validation.type) && (RegistryBusiness.get('direction').dirty || RegistryBusiness.get('direction').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
            </ion-row>

            <h3>Datos de la persona encargada</h3>
            <ion-row>
                <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                    <p>Nombres</p>
                    <ion-input formControlName="name" placeholder="Nombres"></ion-input>
                    <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.name">
                        <div class="error-message"
                            *ngIf="RegistryBusiness.get('name').hasError(validation.type) && (RegistryBusiness.get('name').dirty || RegistryBusiness.get('name').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                </ion-col>
                <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                    <p>Apellidos</p>
                    <ion-input formControlName="lastName" placeholder="Apellidos"></ion-input>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.lastName">
                            <div class="error-message"
                                *ngIf="RegistryBusiness.get('lastName').hasError(validation.type) && (RegistryBusiness.get('lastName').dirty || RegistryBusiness.get('lastName').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                    <p>Tipo de documento</p>
                    <!-- <ion-label position="stacked">Tipo de documento</ion-label> -->
                    <ion-select formControlName="documentType" placeholder="Seleccionar" interface="popover">
                        <ion-select-option *ngFor="let option of options">
                            <h2>{{ option.title }}</h2>
                        </ion-select-option>
                        <!-- <ion-select-option value="Cédula de Ciudadanía">Cédula de Ciudadanía</ion-select-option>
                        <ion-select-option value="Cédula de Extranjería">Cédula de Extranjería</ion-select-option>
                        <ion-select-option value="Carné diplomatico">Carnet diplomático</ion-select-option>
                        <ion-select-option value="Pasporte">Pasaporte</ion-select-option>
                        <ion-select-option value="Permiso especial de permanencia">Permiso especial de permanencia
                        </ion-select-option> -->
                    </ion-select>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.documentType">
                            <div class="error-message"
                                *ngIf="RegistryBusiness.get('documentType').hasError(validation.type) && (RegistryBusiness.get('documentType').dirty || RegistryBusiness.get('documentType').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
                <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                    <p>N° Documento</p>
                    <ion-input formControlName="document" placeholder="Ingrese su documento"></ion-input>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.document">
                            <div class="error-message"
                                *ngIf="RegistryBusiness.get('document').hasError(validation.type) && (RegistryBusiness.get('document').dirty || RegistryBusiness.get('document').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                    <p>Correo electrónico</p>
                    <ion-input (keypress)="Event($event.keyCode)" (click)="presentToast1()" formControlName="email"
                type="email" placeholder="Correo electrónico"></ion-input>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message"
                    *ngIf="RegistryBusiness.get('email').hasError(validation.type) && (RegistryBusiness.get('email').dirty || RegistryBusiness.get('email').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                </div>
            </ng-container>
        </div>
                </ion-col>
                <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                    <p>Número de celular</p>
                        <ion-input formControlName="cellPhone" placeholder="Número de celular"></ion-input>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.cellPhone">
                            <div class="error-message"
                                *ngIf="RegistryBusiness.get('cellPhone').hasError(validation.type) && (RegistryBusiness.get('cellPhone').dirty || RegistryBusiness.get('cellPhone').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                </ion-col>
            </ion-row>
            

        <div formGroupName="passwordRetry">
            <ion-row>
                <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                                 <!-- se utiliza un boton para cambiar el tipo de text de Password a text -->
                                 <p>Contraseña</p>
                <ion-input formControlName="password" [type]="hide1 ? 'text' : 'password'"
                placeholder="Contraseña">
                <ion-button (click)="hide1 = !hide1">
                    <ion-icon [name]="hide1 ? 'eye-off' : 'eye'"></ion-icon>
                </ion-button>
            </ion-input>
            <small >
                Debe contener al menos 6 caracteres (Una mayúscula, una minúscula y un número)
            </small>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message"
                    *ngIf="RegistryBusiness.get('passwordRetry').get('password').hasError(validation.type) && (RegistryBusiness.get('passwordRetry').get('password').dirty || RegistryBusiness.get('passwordRetry').get('password').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                </div>
            </ng-container>
        </div>
                </ion-col>
                <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                    <p>Confirmar Contraseña</p>
                    <ion-input (keypress)="eventHandler($event.keyCode)" formControlName="passwordConfirmation"
                    type="password" placeholder="Confirmar contraseña"></ion-input>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.passwordConfirmation">
                    <div class="error-message"
                        *ngIf="RegistryBusiness.get('passwordRetry').get('passwordConfirmation').hasError(validation.type) && (RegistryBusiness.get('passwordRetry').get('passwordConfirmation').dirty || RegistryBusiness.get('passwordRetry').get('passwordConfirmation').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                    </div>
                </ng-container>
            </div>
                </ion-col>
            </ion-row>
            <input formControlName="termsAndConditions" type="checkbox"><a href="" interface="popover"> He leído y acepto los términos y condiciones</a>
            <br> <br>
        </div>
        <ion-button id="send" shape="round" expand="full" type="submit"  [disabled]="!RegistryBusiness.valid" expand="full">Registrar</ion-button>
        <hr>
<p class="link">¿Ya tiene una cuenta?
    <a routerLink="/login">Inicie Sesión</a>
  </p>
  <br>
  <p class="link">  <a routerLink="/home" >Volver al inicio</a></p>    
        </form>
        
    </ion-card-content>
</div>
</ion-card>
</section>


    <!-- Baner para hacer transición entre Empresa y P.Natural -->
    <!-- <ion-card> -->
            <!-- Los botones estan configurados para que cuando se activen se desactiven y se les de color -->
            <!-- <ion-tab-bar>
                <ion-tab-button [selected]="activate ? 'false' : 'true'" (click)="bttRegistryPNatural()">
                    <ion-icn name="person-outline"></ion-icn>o
                    <ion-label>Personas</ion-label>
                </ion-tab-button>
                <ion-tab-button [selected]="activate ? 'true' : 'false'" (click)="bttRegistryBusiness()">
                    <ion-icon name="business-outline"></ion-icon>
                    <ion-label>Empresas</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
    </ion-card> -->
    <!-- Información que se mostrara para poderse registrar como empresa -->
    <!-- <div id="business" style="display: none;"  *ngIf="selectTabs== 'business'">
        <ion-card>
            <ion-card-content>
                <form [formGroup]="RegistryBusiness" (ngSubmit)="saveDataEmpresa(RegistryBusiness.value)">
                    <ion-item>
                        <ion-input formControlName="nit" placeholder="Nit de la empresa"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.nit">
                            <div class="error-message"
                                *ngIf="RegistryBusiness.get('nit').hasError(validation.type) && (RegistryBusiness.get('nit').dirty || RegistryBusiness.get('nit').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                    <ion-item>
                        <ion-input formControlName="companyName" placeholder="name de la empresa"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.companyName">
                            <div class="error-message"
                                *ngIf="RegistryBusiness.get('companyName').hasError(validation.type) && (RegistryBusiness.get('companyName').dirty || RegistryBusiness.get('companyName').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                    <ion-item>
                        <ion-input formControlName="companyActivity" placeholder="Actividad económica"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.companyActivity">
                            <div class="error-message"
                                *ngIf="RegistryBusiness.get('companyActivity').hasError(validation.type) && (RegistryBusiness.get('companyActivity').dirty || RegistryBusiness.get('companyActivity').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                </form>
            </ion-card-content>
        </ion-card> -->
        <!-- Segunda parte del formulario -->
        <!-- <ion-card>
            <ion-card-header>
                <ion-card-title>Persona encargada:</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <form [formGroup]="RegistryBusiness" (ngSubmit)="saveDataEmpresa(RegistryBusiness.value)">
                    <ion-item>
                        <ion-input formControlName="name" placeholder="Nombres"></ion-input>
                        <ion-input formControlName="lastName" placeholder="Apellidos"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.name">
                            <div class="error-message"
                                *ngIf="RegistryBusiness.get('name').hasError(validation.type) && (RegistryBusiness.get('name').dirty || RegistryBusiness.get('name').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.lastName">
                            <div class="error-message"
                                *ngIf="RegistryBusiness.get('lastName').hasError(validation.type) && (RegistryBusiness.get('lastName').dirty || RegistryBusiness.get('lastName').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                    <ion-item>
                        <ion-label position="stacked">Tipo de documento</ion-label>
                        <ion-select formControlName="documentType" placeholder="Seleccionar">
                            <ion-select-option value="Cédula de Ciudadanía">Cédula de Ciudadanía</ion-select-option>
                            <ion-select-option value="Cédula de Extranjería">Cédula de Extranjería</ion-select-option>
                            <ion-select-option value="Carné diplomatico">Carnet diplomático</ion-select-option>
                            <ion-select-option value="Pasporte">Pasaporte</ion-select-option>
                            <ion-select-option value="Permiso especial de permanencia">Permiso especial de permanencia
                            </ion-select-option>
                        </ion-select>
                        <ion-input formControlName="document" placeholder="Ingrese su documento"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.documentType">
                            <div class="error-message"
                                *ngIf="RegistryBusiness.get('documentType').hasError(validation.type) && (RegistryBusiness.get('documentType').dirty || RegistryBusiness.get('documentType').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.document">
                            <div class="error-message"
                                *ngIf="RegistryBusiness.get('document').hasError(validation.type) && (RegistryBusiness.get('document').dirty || RegistryBusiness.get('document').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                    <ion-item>
                        <ion-input formControlName="direction" placeholder="Dirección"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.direction">
                            <div class="error-message"
                                *ngIf="RegistryBusiness.get('direction').hasError(validation.type) && (RegistryBusiness.get('direction').dirty || RegistryBusiness.get('direction').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                    <ion-item>
                        <ion-input formControlName="cellPhone" placeholder="Número de celular"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.cellPhone">
                            <div class="error-message"
                                *ngIf="RegistryBusiness.get('cellPhone').hasError(validation.type) && (RegistryBusiness.get('cellPhone').dirty || RegistryBusiness.get('cellPhone').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                    <ion-item>
                        <ion-input (keypress)="Event($event.keyCode)" formControlName="email" (click)="presentToast1()"
                            type="email" placeholder="Correo electrónico"></ion-input>
                    </ion-item>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.email">
                            <div class="error-message"
                                *ngIf="RegistryBusiness.get('email').hasError(validation.type) && (RegistryBusiness.get('email').dirty || RegistryBusiness.get('email').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                    <div formGroupName="passwordRetry">
                        <ion-item> -->
                            <!-- se utiliza un boton para cambiar el tipo de text de Password a text -->
                            <!-- <ion-input formControlName="password" [type]="hide ? 'text' : 'password'"
                                placeholder="Contraseña"></ion-input>
                            <ion-button (click)="hide = !hide">
                                <ion-icon [name]="hide ? 'eye-off' : 'eye'"></ion-icon>
                            </ion-button>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.password">
                                <div class="error-message"
                                    *ngIf="RegistryBusiness.get('passwordRetry').get('password').hasError(validation.type) && (RegistryBusiness.get('passwordRetry').get('password').dirty || RegistryBusiness.get('passwordRetry').get('password').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                        <ion-item>
                            <ion-input (keypress)="EventHandler($event.keyCode)" formControlName="passwordConfirmation"
                                type="password" placeholder="Confirmar contraseña"></ion-input>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.passwordConfirmation">
                                <div class="error-message"
                                    *ngIf="RegistryBusiness.get('passwordRetry').get('passwordConfirmation').hasError(validation.type) && (RegistryBusiness.get('passwordRetry').get('passwordConfirmation').dirty || RegistryBusiness.get('passwordRetry').get('passwordConfirmation').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <ion-button id="bttSubmitBusiness" shape="round" expand="full" type="submit"
                        [disabled]="!RegistryBusiness.valid" expand="full">Registrar Cuenta</ion-button>
                </form>
            </ion-card-content>
        </ion-card>
    </div> -->
    <!-- Información que se mostrara para poderse registrar como P.Natural -->
    <!-- <div id="naturalPerson">
        <ion-card>
            <ion-card-content>
                <form [formGroup]="RegistryPNatural" (ngSubmit)="saveDataPNatural(RegistryPNatural.value)">
                        <ion-input formControlName="name" placeholder="Nombres"></ion-input>
                        <ion-input formControlName="lastName" placeholder="Apellidos"></ion-input>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.name">
                            <div class="error-message"
                                *ngIf="RegistryPNatural.get('name').hasError(validation.type) && (RegistryPNatural.get('name').dirty || RegistryPNatural.get('name').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.lastName">
                            <div class="error-message"
                                *ngIf="RegistryPNatural.get('lastName').hasError(validation.type) && (RegistryPNatural.get('lastName').dirty || RegistryPNatural.get('lastName').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                        <ion-input (keypress)="Event($event.keyCode)" (click)="presentToast1()" formControlName="email"
                            type="email" placeholder="Correo electrónico"></ion-input>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.email">
                            <div class="error-message"
                                *ngIf="RegistryPNatural.get('email').hasError(validation.type) && (RegistryPNatural.get('email').dirty || RegistryPNatural.get('email').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                    <div formGroupName="passwordRetry"> -->
                            <!-- se utiliza un boton para cambiar el tipo de text de Password a text -->
                            <!-- <ion-input formControlName="password" [type]="hide1 ? 'text' : 'password'"
                                placeholder="Contraseña"></ion-input>
                            <ion-button (click)="hide1 = !hide1">
                                <ion-icon [name]="hide1 ? 'eye-off' : 'eye'"></ion-icon>
                            </ion-button>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.password">
                                <div class="error-message"
                                    *ngIf="RegistryPNatural.get('passwordRetry').get('password').hasError(validation.type) && (RegistryPNatural.get('passwordRetry').get('password').dirty || RegistryPNatural.get('passwordRetry').get('password').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                            <ion-input (keypress)="eventHandler($event.keyCode)" formControlName="passwordConfirmation"
                                type="password" placeholder="Confirmar contraseña"></ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.passwordConfirmation">
                                <div class="error-message"
                                    *ngIf="RegistryPNatural.get('passwordRetry').get('passwordConfirmation').hasError(validation.type) && (RegistryPNatural.get('passwordRetry').get('passwordConfirmation').dirty || RegistryPNatural.get('passwordRetry').get('passwordConfirmation').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <ion-button id="bttSubmitPNatural" shape="round" expand="full" type="submit"
                        [disabled]="!RegistryPNatural.valid" expand="full">Registrar Cuenta</ion-button>
                </form>
            </ion-card-content>
        </ion-card>
    </div> -->
   
</ion-content>