$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#8CBF3F;
$COLOR-title:#0e1b4d;
/*importa tipografias*/
  @import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
  a,h1,h2,h3,h4,h5,h6,p{
    font-family: "Poppins", sans-serif;
  }
ion-menu-button{
  color: #fff;
}


  /*inputs*/
  ion-input {
    --border-color: transparent!important;
    --highlight-height: 0;
    border: 2px solid #bebebe;
    border-radius: 4px;
    max-width: 380px;
    width: 100%;
    background-color: #fff;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
  }
  ion-select {
    --border-color: transparent!important;
    --highlight-height: 0;
    border: 2px solid #bebebe;
    border-radius: 4px;
    max-width: 380px;
    width: 100%;
    background-color: #fff;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
  }

/*button send*/
#send {
  --background: #43C0F6;
  width: 60%;
  height: 49px;
  margin-left: 20%;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;

  transition: 0.5s;
}
#send:hover {
  --background: #5995fd;
 
}

/*titulos*/
h3{
  font-size: 20px;
  font-weight: bold;
   text-align: center;
   color: $COLOR-title;
   margin-top: 2%;
   margin-bottom: 5%;
}
ion-label{
  font-size: 18px;
  //font-weight: bold;
   text-align: center;
   color: $COLOR-title;
}

.title{
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
p{
  color: $COLOR-title;
}
/*button eye*/
ion-button {
    --background: transparent;
    --box-shadow:none;
    --text-align: end;
  }
  ion-icon{
    color: $COLOR-PRIMARY;
  }

  .link{
    text-align: center;
  }

  .tabs{
    margin-bottom: 3%;
    margin-top: 1%;
  }

  #contenedor{
    width: 60%;
    left: 20%;
    background: rgba(230, 247, 255, 0.8);
  }
  
  form {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    
  }


/*--------------------------------------------------------------
# valid
--------------------------------------------------------------*/
ion-input.ng-valid{
  border: 0.2px solid green;
  border-right: 0.2px solid green;
  }
  ion-input.ng-invalid.ng-touched{
  border: 0.2px solid red;
  border-right: 0.2px solid red;
  }

  ion-select.ng-valid{
    border: 0.2px solid green;
    border-right: 0.2px solid green;
    }
    ion-select.ng-invalid.ng-touched{
    border: 0.2px solid red;
    border-right: 0.2px solid red;
    }
  .error-message{
    color: #FF0000;
    font-size: 14px;
    ion-icon{
      color: #FF0000;
    font-size: 14px;
    }
  }


  /*background*/
  //   #register{
  //     width: 100%;
  //     height: auto;
  //     background: url(/assets/images/hero-bg.jpg) top center;
  //     background-size: cover;
  //     overflow: hidden;
  //     position: relative;
  // }
  ion-content{
    --background: url(/assets/images/hero-bg.jpg) no-repeat top center;
  }
  /*--------------------------------------------------------------
# Change with device Section
--------------------------------------------------------------*/
@media (min-width:806px )and (max-width: 1023px) {
  #contenedor{
    width: 80%;
     left: 8%;
  }
  .title{
    font-size: 20px;
  }
  h3{
    font-size: 15px;
     margin-top: 2%;
     margin-bottom: 5%;
     text-align: center;
  }
  ion-label{
    font-size: 14px;
    text-align: center;
  }
}
@media (min-width: 751px) and (max-width: 805px){
  #contenedor{
    width: 100%;
     left: 0%;
     margin-left: 0;
  }
  .title{
    font-size: 20px;
  }
  h3{
    font-size: 15px;
     margin-top: 2%;
     margin-bottom: 5%;
     text-align: center;
  }
  ion-label{
    font-size: 14px;
    text-align: center;
  }
}
@media (min-width: 678px) and (max-width: 750px){
  #contenedor{
    width: 100%;
     left: 0%;
     margin-left: 0;
  }
  .title{
    font-size: 20px;
  }
  h3{
    font-size: 15px;
     margin-top: 2%;
     margin-bottom: 5%;
     text-align: center;
  }
  ion-label{
    font-size: 14px;
    text-align: center;
  }
}
@media (min-width: 647px) and (max-width: 677px){
  #contenedor{
    width: 100%;
     left: 0%;
     margin-left: 0;
  }
  .title{
    font-size: 20px;
  }
  h3{
    font-size: 15px;
     margin-top: 2%;
     margin-bottom: 5%;
     text-align: center;
  }
  ion-label{
    font-size: 14px;
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 646px){
  #contenedor{
    width: 100%;
     left: 0%;
     margin-left: 0;
  }
  .title{
    font-size: 20px;
  }
  h3{
    font-size: 15px;
     margin-top: 2%;
     margin-bottom: 5%;
     text-align: center;
  }
  ion-label{
    font-size: 14px;
    text-align: center;
  }
}
@media (min-width: 480px) and (max-width: 575px){
  #contenedor{
    width: 80%;
     left: 8%;
     //margin-left: 0;
  }
  .title{
    font-size: 20px;
  }
  h3{
    font-size: 15px;
     margin-top: 2%;
     margin-bottom: 5%;
     text-align: center;
  }
  ion-label{
    font-size: 14px;
    text-align: center;
  }
}
@media (min-width: 361px) and (max-width: 479px){
  #contenedor{
    width: 100%;
     left: 0%;
     margin-left: 0;
  }
  .title{
    font-size: 20px;
  }
  h3{
    font-size: 15px;
     margin-top: 2%;
     margin-bottom: 5%;
     text-align: center;
  }
  ion-label{
    font-size: 14px;
    text-align: center;
  }
}
@media (min-width: 240px) and (max-width: 360px){
  #contenedor{
    width: 100%;
     left: 0%;
     margin-left: 0;
  }
  .title{
    font-size: 20px;
  }
  h3{
    font-size: 15px;
     margin-top: 2%;
     margin-bottom: 5%;
     text-align: center;
  }
  ion-label{
    font-size: 14px;
    text-align: center;
  }
}