$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#8CBF3F;
$COLOR-title:#0e1b4d;
/*importa tipografias*/
  @import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
  a,h1,h2,h3,h4,h5,h6,p{
    font-family: "Poppins", sans-serif;
  }
  #contenedor{
    width: 80%;
    left: 10%;
    background: rgba(230, 247, 255, 0.8);
  }
  
  form {
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
    
  }
  /*inputs*/
  #button {
    --background: #43C0F6;
    width: 60%;
    height: 49px;
    margin-left: 20%;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
  
    transition: 0.5s;
  }
  #button:hover {
    --background: #5995fd;
   
  }
  .input-field {
    --border-color: transparent!important;
    --highlight-height: 0;
    border: 2px solid #bebebe;
    border-radius: 4px;
    max-width: 380px;
    width: 100%;
    background-color: #fff;
    margin: 10px 0;
    height: 55px;
    border-radius: 55px;
  }
  #send {
    display: inline-block;
           margin-left: 10%;
            margin-top: 2%;
            //margin-bottom: 5%;
            width: 40%;
            height: 40px;
            text-align: center;
            color: #fff;
            position: relative;
            background: $COLOR-PRIMARY;
            //padding: 8px 24px 10px 24px;
            border-radius: 50px;
            //border: 2px solid  $COLOR-PRIMARY;
            transition: all ease-in-out 0.3s;
            font-weight: 500;
            //line-height: 1;
            box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
            font-size: 18px;
  }
  #send:hover {
    background: #fff;
    color: $COLOR-PRIMARY;
    border: 2px solid $COLOR-PRIMARY;
  }
#send + #send {
  margin-left: 40px;
}
a{
  text-decoration: none;
}
/*button send*/

/*titulos*/
h3{
  font-size: 20px;
  font-weight: bold;
   text-align: center;
   color: $COLOR-title;
   margin-top: 2%;
   margin-bottom: 5%;
}
ion-label{
  font-size: 18px;
  //font-weight: bold;
   text-align: center;
   color: $COLOR-title;
}

.title{
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
p{
  color: $COLOR-title;
}
#Project-details{
  width: 100%;
   height: auto;
   //background:rgba(67, 192, 246,0.3);
   background: url(/assets/images/hero-bg.jpg) top center;
   //background: rgba(230, 247, 255, 0.8);
 background-size: cover;
  overflow: hidden;
  position: relative;
}

.auth-time {
  --border-color: transparent!important;
      --highlight-height: 0;
      border: 2px solid #bebebe;
      border-radius: 4px;
      max-width: 380px;
      width: 100%;
      background-color: #fff;
      margin: 10px 0;
      height: 55px;
      border-radius: 55px;
  div.item-inner {
    border-top: none;
    ion-input {
      width: 100px;
      input {
        text-align: right;
      }
    }
  }
  ion-select {
    width: 300px;
  }
}

ion-menu-button{
  color: #fff;
}

#Project-details h2 {
  //color: #0e1b4d;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

#Project-details h5 {
  color: #fff;
  //font-weight: 700;
  font-size: 20px;
  text-align: center;
}

// .galeria{
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

// .galeria:hover{
//   transform: scale(1.1);
// }
 /*--------------------------------------------------------------
# Change with device Section
--------------------------------------------------------------*/
@media (min-width:806px )and (max-width: 1023px) {
  .title{
    font-size: 20px;
  }
  #contenedor{
    width: 90%;
    left: 4%;
  }
  #send {
            width: 40%;
            font-size: 18px;
            margin-left: 10%;
            margin-top: 5%;
  }

 #send + #send {
    margin-left: 10px;
  }
}
@media (min-width: 751px) and (max-width: 805px){
  .title{
    font-size: 20px;
  }
  #contenedor{
    width: 100%;
     left: 0%;
     margin-left: 0;
  }
  #send {
            width: 40%;
            font-size: 18px;
            margin-left: 10%;
            margin-top: 5%;
  }

 #send + #send {
    margin-left: 10px;
  }
}
@media (min-width: 678px) and (max-width: 750px){
  .title{
    font-size: 20px;
  }
  #contenedor{
    width: 100%;
     left: 0%;
     margin-left: 0;
  }
  #send {
            width: 40%;
            font-size: 18px;
            margin-left: 10%;
            margin-top: 5%;
  }

 #send + #send {
    margin-left: 10px;
  }
}
@media (min-width: 647px) and (max-width: 677px){
  .title{
    font-size: 20px;
  }
  #contenedor{
    width: 100%;
     left: 0%;
     margin-left: 0;
  }
  #send {
            width: 40%;
            font-size: 18px;
            margin-left: 10%;
            margin-top: 5%;
  }

 #send + #send {
    margin-left: 10px;
  }
}
@media (min-width: 576px) and (max-width: 646px){
  .title{
    font-size: 20px;
  }
  #contenedor{
    width: 100%;
     left: 0%;
     margin-left: 0;
  }
  #send {
            width: 40%;
            font-size: 18px;
            margin-left: 10%;
            margin-top: 5%;
  }

 #send + #send {
    margin-left: 10px;
  }
}
@media (min-width: 480px) and (max-width: 575px){
  .title{
    font-size: 20px;
  }
  #contenedor{
    width: 100%;
     left: 0%;
     margin-left: 0;
  }
  #send {
            width: 40%;
            font-size: 18px;
            margin-left: 10%;
            margin-top: 5%;
  }

 #send + #send {
    margin-left: 10px;
  }
}
@media (min-width: 361px) and (max-width: 479px){
  .title{
    font-size: 15px;
  }
  #contenedor{
    width: 100%;
     left: 0%;
     margin-left: 0;
  }
  #send {
            width: 40%;
            font-size: 18px;
            margin-left: 10%;
            margin-top: 5%;
  }

 #send + #send {
    margin-left: 10px;
  }
}
@media (min-width: 240px) and (max-width: 360px){
  .title{
    font-size: 15px;
  }
  #contenedor{
    width: 100%;
     left: 0%;
     margin-left: 0;
  }
  #send {
    width: auto;
            font-size: 18px;
            margin-left: 5%;
            margin-top: 5%;
            padding: 8px 24px 10px 24px;
  }

 #send + #send {
    margin-left: 15px;
  }

}
