<!-- <app-ion-header title="Detalles del proyecto"></app-ion-header> -->

<ion-content>
    <section id="Project-details">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
            <ion-title class="title">DETALLES DEL PROYECTO</ion-title>
          </ion-buttons>
        <ion-card id="contenedor">
            <!-- <ion-segment class="tabs" [(ngModel)]="selectTabs">
                <ion-segment-button value="details">
                    <ion-label>Información</ion-label>
                </ion-segment-button>
                <ion-segment-button value="gallery">
                    <ion-label>Galería</ion-label>
                </ion-segment-button>
            </ion-segment> -->
            <h3>Galería de fotos</h3>
            <ion-button id="button" shape="round" expand="full" type="submit" expand="full" (click)="popUpGalery()">Ver galería</ion-button>

            <!-- <ion-grid>
                <ion-row>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="6" size-xl="4" *ngFor="let images of imagenes">
                        <img class="galeria" src="assets/images/{{images}}" alt=""  >

                    </ion-col>
                </ion-row>
            </ion-grid> -->
            <div id="details">
            <ion-card-content>
                <form>
                    <h3>Información General</h3>
                    <ion-row>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Nombre del proyecto</p>
                            <ion-input class="input-field" disabled="true"></ion-input>
                        </ion-col>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Tipo de proyecto</p>
                            
                            <ion-input class="input-field" disabled="true"></ion-input>
                
                        </ion-col>
                
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Tipo de bosque</p>
                
                            <ion-input class="input-field" disabled="true"></ion-input>
                
                          
                        </ion-col>
                
                    </ion-row>
                                
                    <ion-row>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Área del bosque en héctareas(Ha)</p>
                            <ion-input class="input-field" disabled="true"></ion-input>
                       
                        </ion-col>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Especie predominante de árboles&nbsp;</p>
                            <ion-input class="input-field" disabled="true"></ion-input>
                               
                
                        </ion-col>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Altura promedio de los árboles&nbsp; &nbsp; &nbsp; &nbsp; </p>
                            <ion-input class="input-field" disabled="true"></ion-input>
                        </ion-col>
                
                    </ion-row>  
                    
                    <ion-row>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Diámetro de los árboles</p>
                            <ion-input class="input-field" disabled="true"></ion-input>
                       
                        </ion-col>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4"> 
                            <p>Edad del bosque</p>
                            
                            <ion-input class="input-field" disabled="true"></ion-input>
                
                       
                        </ion-col>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Temperatura </p>
                              
                                    <ion-item class="auth-time" >
                                        <ion-input  disabled="true"></ion-input>
                                      <ion-select disabled="true">
                                       
                                      </ion-select>
                                    </ion-item>
                                 
                                 
                                
                               
                        </ion-col>
                    </ion-row>
                
                    <h3>Ubicación</h3>
                
                    <ion-row>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>País</p>
                            <ion-input class="input-field" disabled="true"></ion-input>
                
                            
                        </ion-col>
                        <ion-col  id="department" size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Departamento</p>
                            <ion-input class="input-field" disabled="true"></ion-input>
                
                           
                        </ion-col>
                        <ion-col id="municipality" size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Municipio</p>
                            <ion-input class="input-field" disabled="true"></ion-input>
                
                        
                                  
                        </ion-col>
                    </ion-row>
                
                    <ion-row>
                        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Zona</p>
                            <ion-input class="input-field" disabled="true"></ion-input>
                
                        </ion-col>
                        <ion-col  size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                            <p>Altura sobre el nivel del mar</p>
                            <ion-input class="input-field" disabled="true"></ion-input>
                
                          
                        </ion-col>
                    </ion-row>
                    
                    <ion-row>
                        <!-- <a routerLink="/sponsorshipform" id="send" shape="round" expand="full" type="submit" expand="full" >Patrocinar</a> -->
                        <a routerLink="/allprojects/projectsdetails/modal-image" id="send" shape="round" expand="full" type="submit" expand="full" (click)="popUp()">Patrocinar</a>
                        <a routerLink="/allprojects/projectsdetails/modal-image" id="send" shape="round" expand="full" type="submit" expand="full" (click)="popUp()">Donar</a>
                    </ion-row>
                
                </form>
            </ion-card-content>
    </div>
    
    <!-- <div id="gallery" *ngIf="selectTabs== 'gallery'">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="6" size-xl="4" *ngFor="let images of imagenes">
                        <img class="galeria" src="{{images}}" alt="" >

                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </div> -->
    </ion-card>
    </section>
</ion-content>
