<ion-content [ngClass]="cambiarFondo">
    <form [formGroup]="carbonFootprint" (ngSubmit)="saveData(carbonFootprint.value)">
        <!-- Diapositivas con el Formulario -->
        <!-- <ion-slides #slides pager="false" [options]="options" lockSwipes="true"> -->
        <!-- Gif -->

        <!-- Formulario parte 1 -->
        <section id="empezar" *ngIf="ocultar">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <div id="header-tittle-intro">
                <h2>¿CUÁL ES SU HUELLA DE CARBONO?</h2>
                <h3>conozca cuantos árboles debería patrocinar para compensarla</h3>
            </div>
            <ion-button style="background: transparent;" id="huella-btn" (click)="accion1()"><img id="img-huella"
                    src="../assets/iconos/huella.png">Calcular</ion-button>
        </section>

        <div id="elect" *ngIf="ocultar1">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <div class="ConsumoElectricidad" style="background: transparent;">
                <div id="header-tittle">
                    <h2>ALOJAMIENTO</h2>
                    <h3>¿Sabe su consumo de energía eléctrica?</h3>
                </div>

                <ion-row id="answer">
                    <div id="si">
                        <ion-label>SI</ion-label>
                        <ion-checkbox (click)="Display = !Display" [disabled]="this.checked ? 'true' : 'false'"
                            (click)="hiddenConsumoElectrico()"></ion-checkbox>
                    </div>
                    <div id="Nose">
                        <ion-label>NO</ion-label>
                        <ion-checkbox (click)="this.checked = !this.checked;"></ion-checkbox>
                    </div>
                </ion-row>



                <div id="ElectricidadDisabled">

                    <h2 id="text">¿Cuál es el valor promedio de la factura mensual?</h2>

                    <ion-col size-md="12" size-lg="12" size-sm="12" size-xs="12" size-xl="12">
                        <ion-select class="input" formControlName="valorElectrico" placeholder="Seleccionar"
                            [disabled]="this.checked ? 'true' : 'false'">
                            <ion-select-option value="20000">$0 - $20.000</ion-select-option>
                            <ion-select-option value="30000">$20.000 - $30.000</ion-select-option>
                            <ion-select-option value="50000">$30.000 - $50.000</ion-select-option>
                            <ion-select-option value="100000">$50.000 - $100.000</ion-select-option>
                            <ion-select-option value="150000">$100.000 - $150.000</ion-select-option>
                        </ion-select>
                    </ion-col>

                    <h2 id="text2">¿Cuántas personas viven con usted?</h2>

                    <ion-col size-md="12" size-lg="12" size-sm="12" size-xs="12" size-xl="12">
                        <ion-input class="input" formControlName="Npersonas"
                            [disabled]="this.checked ? 'true' : 'false'" placeholder="Ingrese una cantidad"></ion-input>
                    </ion-col>


                </div>

                <!-- <ion-button shape="round"  slot="end" (click)="behindSlide()"id="button-elect">
                        Atrás
                    </ion-button> -->
                <ion-button shape="round" slot="end" (click)="saveConsumoElectrico(carbonFootprint.value)"
                    id="button-elect">
                    Continuar
                </ion-button>

            </div>
        </div>
        <!-- Gif -->

        <!-- Formulario parte 2 -->
        <section id="food" *ngIf="ocultar2">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <div class="ConsumoAlimentos">
                <div id="header-tittle">
                    <h2>ALIMENTACIÓN</h2>
                    <h3>¿Conoce su dieta o su consumo diario en productos pecuarios?</h3>
                    <h4>(carne roja, cerdo, pollo, pescado, huevos, productos lácteos)</h4>
                </div>
                <ion-row id="answer">
                    <div id="si">
                        <h2 id="subtext">Dieta</h2>
                        <ion-checkbox [disabled]="disabled ? 'false' : 'true'" (click)="disabled2 = !disabled2"
                            (click)="hiddenMiconsumo()"></ion-checkbox>
                    </div>
                    <div id="consumo">
                        <h2 id="subtext">Consumo</h2>
                        <ion-checkbox (click)="disabled = !disabled" (click)="hiddenMiconsumo()"></ion-checkbox>
                    </div>
                </ion-row>

                <div id="tipoDieta">
                    <h2 id="text">¿Cuál es su dieta?</h2>
                    <ion-select class="input" formControlName="tuDieta" placeholder="Seleccionar">
                        <ion-select-option value="0">Vegano</ion-select-option>
                        <ion-select-option value="0.1">Vegetariano</ion-select-option>
                        <ion-select-option value="0.7">Baja en carne</ion-select-option>
                        <ion-select-option value="1.5">Alta en carne</ion-select-option>
                    </ion-select>
                </div>
                <!-- <ion-item id="consumo">
                    <ion-label>Conozco mi consumo</ion-label>
                    <ion-checkbox (click)="disabled = !disabled" (click)="hiddenMiconsumo()"></ion-checkbox>
                </ion-item> -->
                <div id="Miconsumo">
                    <ion-label id="food-text">Comida</ion-label>
                    <ion-row>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p>Cordero </p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="cordero" placeholder="Cantidad"></ion-input>
                                <ion-label>Kg</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p>Carne de res </p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="res" placeholder="Cantidad"></ion-input>
                                <ion-label>Kg</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p>Queso</p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="queso" placeholder="Cantidad"></ion-input>
                                <ion-label>Kg</ion-label>
                            </ion-item>

                        </ion-col>

                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p>Tocino</p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="tocino" placeholder="Cantidad"></ion-input>
                                <ion-label>Kg</ion-label>
                            </ion-item>

                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p>Carne de cerdo </p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="cerdo" placeholder="Cantidad"></ion-input>
                                <ion-label>Kg</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p>Camarones </p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="camarones" placeholder="Cantidad"></ion-input>
                                <ion-label>Kg</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p>Huevos</p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="camarones" placeholder="Cantidad"></ion-input>
                                <ion-label>Und</ion-label>
                            </ion-item>

                        </ion-col>

                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p>Pollo</p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="pollo" placeholder="Cantidad"></ion-input>
                                <ion-label>Kg</ion-label>
                            </ion-item>

                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p>Arroz</p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="arroz" placeholder="Cantidad"></ion-input>
                                <ion-label>Kg</ion-label>
                            </ion-item>

                        </ion-col>
                    </ion-row>
                    <ion-label id="food-text">Bebida</ion-label>
                    <ion-row>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p>Chocolate </p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="chocolate" placeholder="Cantidad"></ion-input>
                                <ion-label>Kg</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p>Café</p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="cafe" placeholder="Cantidad"></ion-input>
                                <ion-label>Kg</ion-label>
                            </ion-item>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p>Vino</p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="vino" placeholder="Cantidad"></ion-input>
                                <ion-label>Kg</ion-label>
                            </ion-item>

                        </ion-col>

                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p>Leche</p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="leche" placeholder="Cantidad"></ion-input>
                                <ion-label>Kg</ion-label>
                            </ion-item>

                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p>Cerveza</p>
                            <ion-item class="auth-time">
                                <ion-input formControlName="cerveza" placeholder="Cantidad"></ion-input>
                                <ion-label>Kg</ion-label>
                            </ion-item>
                        </ion-col>

                    </ion-row>
                    <!-- <ion-toolbar> -->
                    <!-- <ion-label>Comida</ion-label>
                        <ion-item>
                            Cordero&nbsp;
                            <ion-input formControlName="cordero" placeholder="Ingrese una cantidad"></ion-input>
                            Kg
                        </ion-item>
                        <ion-item>
                            Carne de res&nbsp;
                            <ion-input formControlName="res" placeholder="Ingrese una cantidad"></ion-input>
                            Kg
                        </ion-item>
                        <ion-item>
                            Queso&nbsp;
                            <ion-input formControlName="queso" placeholder="Ingrese una cantidad"></ion-input>
                            Kg
                        </ion-item>
                        <ion-item>
                            Tocino&nbsp;
                            <ion-input formControlName="tocino" placeholder="Ingrese una cantidad"></ion-input>
                            Kg
                        </ion-item> -->
                    <!-- <ion-item>
                            Carne de cerdo&nbsp;
                            <ion-input formControlName="cerdo" placeholder="Ingrese una cantidad"></ion-input>
                            Kg
                        </ion-item>
                        <ion-item>
                            Camarones&nbsp;
                            <ion-input formControlName="camarones" placeholder="Ingrese una cantidad"></ion-input>
                            Kg
                        </ion-item>
                        <ion-item>
                            Pollo&nbsp;
                            <ion-input formControlName="pollo" placeholder="Ingrese una cantidad"></ion-input>
                            Kg
                        </ion-item>
                        <ion-item>
                            Huevos&nbsp;
                            <ion-input formControlName="camarones" placeholder="Ingrese una cantidad"></ion-input>
                            Und
                        </ion-item> -->
                    <!-- <ion-item>
                            Arroz&nbsp;
                            <ion-input formControlName="arroz" placeholder="Ingrese una cantidad"></ion-input>
                            Kg
                        </ion-item> -->
                    <!-- <ion-label>Bebida</ion-label>
                        <ion-item>
                            Chocolate&nbsp;
                            <ion-input formControlName="chocolate" placeholder="Ingrese una cantidad"></ion-input>
                            L
                        </ion-item>
                        <ion-item>
                            Café&nbsp;
                            <ion-input formControlName="cafe" placeholder="Ingrese una cantidad"></ion-input>
                            L
                        </ion-item>
                        <ion-item>
                            Vino&nbsp;
                            <ion-input formControlName="vino" placeholder="Ingrese una cantidad"></ion-input>
                            L
                        </ion-item>
                        <ion-item>
                            Leche&nbsp;
                            <ion-input formControlName="leche" placeholder="Ingrese una cantidad"></ion-input>
                            L
                        </ion-item>
                        <ion-item>
                            Cerveza&nbsp;
                            <ion-input formControlName="cerveza" placeholder="Ingrese una cantidad"></ion-input>
                            L
                        </ion-item>
                    </ion-toolbar> -->
                </div>

                <!-- <ion-button id="button"(click)="backaccion2()"  shape="round"  slot="end" >
                        Atrás
                    </ion-button> -->
                <ion-button id="button" shape="round" slot="end"
                    (click)="saveConsumoAlimentario(carbonFootprint.value);">Continuar
                </ion-button>
            </div>
        </section>
        <!-- Gif -->

        <!-- Formulario parte  3-->
        <section id="movil" *ngIf="ocultar3">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <div class="ConsumoTransporteTerrestre">
                <div id="header-tittle">
                    <h2>MOVILIDAD</h2>
                    <h3>¿Cuál es el medio de transporte que más usa?</h3>
                    <h4 id="movilidad">(como conductor o pasajero)</h4>
                </div>
                <div id="mediodetransporte">
                    <!-- <ion-label position="stacked">¿Qué medio de transporte más usa?</ion-label> -->

                    <ion-row>
                        <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                            <h2 id="subtext2">Vehículos</h2>
                            <ion-select (click)="Display4 = !Display4" [disabled]="this.checked2 ? 'true' : 'false'"
                                formControlName="MedioDeTrasporte" placeholder="Seleccionar"
                                (ionChange)="TipodeCombustibleChange()">
                                <ion-select-option *ngFor="let medioDeTrasporte of MedioDeTrasporte"
                                    [value]="medioDeTrasporte">
                                    {{medioDeTrasporte}}</ion-select-option>
                            </ion-select>
                        </ion-col>
                        <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                            <div id="itemNotengo">
                                <h2 id="subtext2">No tengo vehículo</h2>
                                <ion-checkbox (click)="this.checked2 = !this.checked2;" (click)="TransporteTerrestre()">
                                </ion-checkbox>
                            </div>
                        </ion-col>
                    </ion-row>

                    <div id="Distancia">
                        <ion-label id="text-transporte">¿Conoce la distancia diaria?</ion-label>
                        <ion-checkbox id="Distanciadiaria" (click)="hidden1 = !hidden1" (click)="TransporteTerrestre()"
                            (click)="Display4 = !Display4" [disabled]="this.checked2 ? 'true' : 'false'">
                        </ion-checkbox>
                    </div>

                    <div id="distanciaD">
                        <ion-item class="auth-time2">
                            <ion-input formControlName="distanciaDiaria" placeholder="Cantidad"></ion-input>
                            <ion-label>Km</ion-label>
                        </ion-item>
                    </div>

                    <div id="Manejo">

                        <ion-label id="text-transporte">¿Conoce las horas diarias que viaja?</ion-label>
                        <ion-checkbox id="HorasdeManejo" (click)="hidden2 = !hidden2" (click)="TransporteTerrestre()"
                            (click)="Display4 = !Display4" [disabled]="this.checked2 ? 'true' : 'false'">
                        </ion-checkbox>

                    </div>
                    <div id="horasManejo">
                        <ion-item class="auth-time2">
                            <ion-input formControlName="horasdeManejo" placeholder="Cantidad"></ion-input>
                            <ion-label>Horas</ion-label>
                        </ion-item>
                    </div>

                    <div id="TransporteTerrestre">
                        <!-- Deacuerdo a la opción escogida se condicionan los demás selects -->

                        <!-- <h2>Escoja su motor</h2> -->

                        <ion-label class="text-trans">Tipo de combustible</ion-label>
                <ion-select formControlName="combustible" placeholder="Seleccionar"
                    (ionChange)="TipodeCombustibleChange()">
                    <ion-select-option *ngFor="let combustible of TipodeCombustible" [value]="combustible">
                        {{combustible}}</ion-select-option>
                </ion-select>



                        <div id="motor">
                    <ion-label  class="text-trans">Tipo de Motor</ion-label>
                    <ion-select formControlName="motor" placeholder="Seleccionar">
                        <ion-select-option *ngFor="let motor of MotorChoose" [value]="motor">{{motor}}
                        </ion-select-option>
                    </ion-select>
                </div>



                        <!-- Fin -->
                    </div>

                </div>


                <!-- <ion-button shape="round" (click)="backaccion2()"   slot="end" (click)="behindSlide()" id="BttContinuar">
                        Atrás
                    </ion-button> -->
                <ion-button shape="round" id="button" slot="end" (click)="saveConsumoTerrestre(carbonFootprint.value);">
                    Continuar
                </ion-button>
            </div>
        </section>
        <!-- Gif -->

        <!-- Formulario parte 4 -->

        <section id="plane" *ngIf="ocultar4">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <div class="ConsumotransporteAereo">
                <div id="header-tittle-plane">
                    <h2>MOVILIDAD AÉREA</h2>
                    <h3>¿Viaja con frequencia en avión?</h3>
                </div>

                <ion-row id="answer">
                    <div id="ViajoAvion">
                        <ion-label>SI</ion-label>
                        <ion-checkbox (click)="Ocultar = !Ocultar" (click)="hiddenConsumoAereo()"></ion-checkbox>
                    </div>
                    <div id="NoviajoAvion">
                        <ion-label>NO</ion-label>
                        <ion-checkbox (click)="Ocultar1 = !Ocultar1" (click)="hiddenConsumoAereo()"></ion-checkbox>
                    </div>
                </ion-row>
                <!-- <ion-item id="ViajoAvion">
                    <ion-label>Sí viajo en avión</ion-label>
                    <ion-checkbox (click)="Ocultar = !Ocultar" (click)="hiddenConsumoAereo()"></ion-checkbox>
                </ion-item> -->

                <div id="viajesCheck">
                    <h2 id="food-text">Nacionales</h2>
                    <ion-row>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <ion-input class="input2" formControlName="nacional" placeholder="Ingrese una cantidad">
                            </ion-input>
                        </ion-col>
                    </ion-row>


                    <h2 id="food-text">Internacionales</h2>
                    <ion-row>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p>Norteamérica </p>
                            <ion-input class="input2" formControlName="norteamerica" placeholder="Ingrese una cantidad">
                            </ion-input>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p>Suramérica</p>
                            <ion-input class="input2" formControlName="suramerica" placeholder="Ingrese una cantidad">
                            </ion-input>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p>Europa</p>
                            <ion-input class="input2" formControlName="europa" placeholder="Ingrese una cantidad">
                            </ion-input>
                        </ion-col>

                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p>Asia</p>
                            <ion-input class="input2" formControlName="europa" placeholder="Ingrese una cantidad">
                            </ion-input>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p>Oceanía</p>
                            <ion-input class="input2" formControlName="oceania" placeholder="Ingrese una cantidad">
                            </ion-input>
                        </ion-col>
                        <ion-col size-md="3" size-lg="3" size-sm="3" size-xs="12" size-xl="3">
                            <p>África</p>
                            <ion-input class="input2" formControlName="africa" placeholder="Ingrese una cantidad">
                            </ion-input>
                        </ion-col>
                    </ion-row>


                </div>
                <!-- <ion-item id="NoviajoAvion">
                    <ion-label>No viajo en avión</ion-label>
                    <ion-checkbox (click)="Ocultar1 = !Ocultar1" (click)="hiddenConsumoAereo()"></ion-checkbox>
                </ion-item> -->
                <!-- <ion-button shape="round"  slot="end" (click)="behindSlide()" id="BttContinuar">
                        Atrás
                    </ion-button> -->
                <ion-button type="submit" shape="round" slot="end" (click)="saveConsumoAereo(carbonFootprint.value);"
                    id="button">Continuar
                </ion-button>
            </div>
        </section>
        <!-- Gif -->

        <!-- Resultados -->
        <section id="empezar" *ngIf="ocultar5">
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <div class="Resultados">
                <div id="header-tittle-plane">
                    <h2>¡ESTA ES SU HUELLA DE CARBONO!</h2>
                </div> <br>
                <ion-label id="text">Total huella de carbono</ion-label>
                <ion-item class="auth-time3">
                    <ion-input disabled="true">{{CalculoHuellaCarbono}}</ion-input>
                    <ion-label>Ton CO2/año</ion-label>
                </ion-item>
                <br>
                <ion-label id="text">Árboles necesarios para compensar su huella</ion-label>
                <ion-item class="auth-time3">
                    <ion-input disabled="true">{{CalculodeArboles}}</ion-input>
                    <ion-label>Árboles</ion-label>
                </ion-item>

                <ion-button shape="round" id="button" slot="end" routerLink="/sponsorshipform">Patrocinar</ion-button>

                <ion-button shape="round" id="button2" slot="end" (click)="firstSlide()">Repetir</ion-button>






            </div>
        </section>
        <!-- </ion-slides> -->
    </form>

</ion-content>