
$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#8CBF3F;
$COLOR-title:#0e1b4d;
/*importa tipografias*/
  @import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
  a,h1,h2,h3,h4,h5,h6,p{
    font-family: "Poppins", sans-serif;
  }
// Me esconde parte del formulario 
#Miconsumo{
    display: none;
  }

  #TransporteTerrestre{
    display: none;
  }
  #ElectricidadDisabled{
    display: none;
  }
  #tipoDieta{
    display: none;
  }  
  #distanciaD{
    display: none;
    width: 100%;
  }
  #horasManejo{
    display: none;
    width: 100%;
  }
  #viajesCheck{
    display: none; 
  }
  #motor{
    display: none;
    width: 100%;
  }  
  #Distancia{
    display: none;
    width: 100%;
   
  }
  #Manejo{
    display: none;
    width: 100%;
  
  }

  ion-menu-button{
    color: #fff;
  }
   /*--------------------------------------------------------------
# Backgrounds Section
--------------------------------------------------------------*/
  .cero{
    --background: url(/assets/huella/world2.jpg) no-repeat center center / cover ;
  }
  .first{
    --background: url(/assets/huella/power2.jpg) no-repeat center center / cover ;
  }
  .second{
    --background: url(/assets/huella/farm2.jpg) no-repeat center center / cover ;
  }

  .third{
    --background: url(/assets/huella/Logistics2.png) no-repeat center center / cover ;
  }

  .four{
    --background: url(/assets/huella/plane2.jpg) no-repeat center center / cover ;
  }

  .five{
    --background: url(/assets/huella/world2.jpg) no-repeat center center / cover ;
  }

 /*--------------------------------------------------------------
# intro huella Section
--------------------------------------------------------------*/

#header-tittle-intro h2{
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  color: #fff;
}
#header-tittle-intro h3{
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  margin-top:5%;
  color: #fff;
}
#huella-btn{
  width: auto;
  height: auto;
  font-size: 20px;
  color: #fff;
  --background: transparent;
  margin-left: 40%;
  margin-top:5%;
  --box-shadow: none;
}
 /*--------------------------------------------------------------
# electricidad Section
--------------------------------------------------------------*/
#header-tittle h2{
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  color: #fff;
}
#header-tittle h3{
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
 // margin-top:10%;
  color: #fff;
}

#answer{
  margin-top:5%;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
#si{
font-size: 30px;
text-shadow: 1px 1px 2px #000;
margin-left: 35%;
}
#Nose{
  font-size: 30px;
  text-shadow: 1px 1px 2px #000;
  margin-left: 22%;
  }
  #ElectricidadDisabled{
    margin-top:5%;
  }

  
#button-elect{
  --background: #43C0F6;
  width: 20%;
  height: 49px;
  margin-top:5%;
  margin-left: 40%;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;

  transition: 0.5s;
}
#button-elect:hover {
  --background: #5995fd;
 
}

#text{
  margin-top:5%;
 // margin-left: 35%;
  text-shadow: 1px 1px 2px #000;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
#text2{
  margin-top:2%;
 // margin-left: 35%;
  text-shadow: 1px 1px 2px #000;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.input{
  --border-color: transparent!important;
  --highlight-height: 0;
  border: 2px solid #bebebe;
  border-radius: 4px;
  margin-left: 35%;
  //position: relative;
  width: 30%;
  
  margin-top:1%;
  background-color: #fff;
  //margin: 10px 0;
  height: 55px;
  border-radius: 55px;
}
 /*--------------------------------------------------------------
# comida Section
--------------------------------------------------------------*/
#food-text{
  font-size: 20px;
  font-weight: bold;
  //margin-left: 45%;
  text-align: center;
   color: $COLOR-title;
   margin-top: 2%;
   margin-bottom: 5%;
}
#subtext{
  font-size: 20px;
}

.auth-time {
  --border-color: transparent!important;
      --highlight-height: 0;
      border: 2px solid #bebebe;
      border-radius: 4px;
      max-width: 380px;
      width: 100%;
      background-color: #fff;
      //margin: 10px 0;
      height: 55px;
      border-radius: 55px;
  div.item-inner {
    border-top: none;
    ion-input {
      width: 100px;
      input {
        text-align: right;
      }
    }
  }
  ion-label {
    margin: 10px 0;
  }
}

#consumo{
  font-size: 30px;
  text-shadow: 1px 1px 2px #000;
  margin-left: 20%;
  }
#tipoDieta{
  margin-top:5%;
}

#Miconsumo{
  margin-top:5%;
  background: rgba(230, 247, 255, 0.8);
  width: 60%;
  margin-left: 22%;
  border-radius: 50px;
}


#button{
  --background: #43C0F6;
  width: 20%;
  height: 49px;
  margin-top:5%;
  margin-left: 40%;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;

  transition: 0.5s;
}
#button:hover {
  --background: #5995fd;
 
}
 /*--------------------------------------------------------------
# transporte Section
--------------------------------------------------------------*/
.text-trans{
  margin-top:5%;
  margin-left: 35%;
  text-shadow: 1px 1px 2px #000;
  font-size: 20px;
  color: #fff;
}

// #TransporteTerrestre h2{
//   font-size: 30px;
//   text-align: center;
//   text-shadow: 1px 1px 2px #000;
//   color: #fff;
// }
#text-transporte{
  margin-top:10%;
  margin-left: 17%;
  text-shadow: 1px 1px 2px #000;
  font-size: 20px;
  color: #fff;
}
#movilidad{
  text-shadow: 1px 1px 2px #000;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

#subtext2{
  font-size: 20px;
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  text-align: center;
}

.input2{
  --border-color: transparent!important;
  --highlight-height: 0;
  border: 2px solid #bebebe;
  border-radius: 4px;
  //margin-left: 35%;
  //position: relative;
  //width: 30%;
  
  margin-top:3%;
  background-color: #fff;
  //margin: 10px 0;
  height: 55px;
  border-radius: 55px;
}

.auth-time2 {
  --border-color: transparent!important;
      --highlight-height: 0;
      border: 2px solid #bebebe;
      border-radius: 4px;
      max-width: 380px;
      margin-left: 17%;
      width: 100%;
      background-color: #fff;
      //margin: 10px 0;
      height: 55px;
      border-radius: 55px;
  div.item-inner {
    border-top: none;
    ion-input {
      width: 100px;
      input {
        text-align: right;
      }
    }
  }
  ion-label {
    margin: 10px 0;
  }
}

ion-select {
  --border-color: transparent!important;
  --highlight-height: 0;
  border: 2px solid #bebebe;
  border-radius: 4px;
  margin-left: 35%;
  width: 60%;
  margin-bottom:3%;
  margin-top:3%;
  background-color: #fff;
  //margin: 10px 0;
  height: 55px;
  border-radius: 55px;
}
ion-checkbox{
  --border-radius: 30px;
  --size:25px;
  margin-left: 40%;
}
 /*--------------------------------------------------------------
# avión Section
--------------------------------------------------------------*/

#header-tittle-plane h2{
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  color: #fff;
}
#header-tittle-plane h3{
  font-size: 25px;
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  margin-top:8%;
  color: #fff;
}
#ViajoAvion{
  font-size: 30px;
text-shadow: 1px 1px 2px #000;
margin-left: 35%;
}
#NoviajoAvion{
  font-size: 30px;
text-shadow: 1px 1px 2px #000;
margin-left: 20%;
}
#viajesCheck{
  margin-top:5%;
  background: rgba(230, 247, 255, 0.8);
  width: 60%;
  margin-left: 22%;
  border-radius: 50px;
}
 /*--------------------------------------------------------------
# resultado Section
--------------------------------------------------------------*/

.auth-time3 {
  --border-color: transparent!important;
      --highlight-height: 0;
      border: 2px solid #bebebe;
      border-radius: 4px;
      max-width: 380px;
      margin-left: 35%;
      //width: 100%;
      background-color: #fff;
      //margin: 10px 0;
      height: 55px;
      border-radius: 55px;
  div.item-inner {
    border-top: none;
    ion-input {
      width: 100px;
      input {
        text-align: right;
      }
    }
  }
  ion-label {
    //margin: 10px 0;
    color: #000;
  }
}
#fin{
  height: auto;
}
/*--------------------------------------------------------------
# general ítems
--------------------------------------------------------------*/

 

h4{
  text-shadow: 1px 1px 2px #000;
  font-size: 14px;
  color: #fff;
  //margin-left: 36%;
  text-align: center;
}
p{
  color: $COLOR-title;
}

/*--------------------------------------------------------------
# espacios del header Section
--------------------------------------------------------------*/
#mediodetransporte{
  margin-top:5%;
}
.ConsumoElectricidad{
  margin-top:8%;
  margin-bottom:3%;
}

// .Resultados{
//   margin-top:5%;
//   margin-bottom:2%;
// }
#TransporteTerrestre{
  width: 50%;
}
.ConsumoAlimentos{
  margin-top:8%;
  margin-bottom:3%;
}
.ConsumotransporteAereo{
  margin-top:8%;
  margin-bottom:3%; 
}
.ConsumoTransporteTerrestre{
  margin-top:8%;
  margin-bottom:3%;
}
// /*button send*/
// ion-button {
//   --background: #43C0F6;
//   width: 40%;
//   height: 49px;
//   margin-top:20%;
//   //margin-left: 20%;
//   border-radius: 49px;
//   color: #fff;
//   text-transform: uppercase;
//   font-weight: 600;

//   transition: 0.5s;
// }
// ion-button:hover {
//   --background: #5995fd;
 
// }
#button2{
  --background: #43C0F6;
  width: 20%;
  height: 49px;
  margin-top:5%;
  margin-left: 20%;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;

  transition: 0.5s;
}
#button2:hover {
  --background: #5995fd;
 
}

.Resultados #button + #button2 {
  margin-left: 40px;
}
/*--------------------------------------------------------------
# Change with device Section
--------------------------------------------------------------*/

@media (max-width: 1350px) {

}
@media (min-width: 1024px) {
  #intro {
    background-attachment: fixed;
  }
  
}

@media (min-width:806px )and (max-width: 1023px) {
  #huella-btn{

    margin-left: 30%;
  }
  #button-elect{
    width: 40%;
    height: 49px;
    margin-top:5%;
    margin-left: 30%;
  }
  
  .input{
    margin-left: 30%;
    width: 40%;
    margin-top:3%;
    height: 55px;
  }
   /*food*/
  
   h4{
    margin-top: 10%;
    margin-bottom: 2%;
  }

  
#Miconsumo{
  margin-top:5%;
  width: 80%;
  margin-left: 10%;
}
}
@media (min-width: 751px) and (max-width: 805px){
  #huella-btn{
    margin-left: 30%;
  }
  #button-elect{
    width: 40%;
    height: 49px;
    margin-top:5%;
    margin-left: 30%;
  }
  
  .input{
    margin-left: 30%;
    width: 40%;
    margin-top:3%;
    height: 55px;
  }
    /*food*/
  
    h4{
      margin-top: 10%;
      margin-bottom: 2%;
    }
  
    
  #Miconsumo{
    margin-top:5%;
    width: 80%;
    margin-left: 10%;
  }
}
@media (min-width: 678px) and (max-width: 750px){
  #huella-btn{
    margin-left: 30%;
  } 
  #button-elect{
    width: 40%;
    height: 49px;
    margin-top:5%;
    margin-left: 30%;
  }
  
  .input{
    margin-left: 30%;
    width: 40%;
    margin-top:3%;
    height: 55px;
  }
    /*food*/
  
    h4{
      margin-top: 10%;
      margin-bottom: 2%;
    }
  
    
  #Miconsumo{
    margin-top:5%;
    width: 100%;
    margin-left: 0%;
  }
}
@media (min-width: 647px) and (max-width: 677px){
  #huella-btn{
    margin-left: 25%;
  }
  #button-elect{
    width: 40%;
    height: 49px;
    margin-top:5%;
    margin-left: 30%;
  }
  
  .input{
    margin-left: 30%;
    width: 40%;
    margin-top:3%;
    height: 55px;
  }
    /*food*/
  
    h4{
      margin-top: 10%;
      margin-bottom: 2%;
    }
  
    
  #Miconsumo{
    margin-top:5%;
    width: 100%;
    margin-left: 0%;
  }
}
@media (min-width: 576px) and (max-width: 646px){
  #huella-btn{
    margin-left: 25%;
  }

  #button-elect{
    width: 40%;
    height: 49px;
    margin-top:5%;
    margin-left: 30%;
  }
  
  .input{
    margin-left: 20%;
    width: 60%;
    margin-top:3%;
    height: 55px;
  }
  /*food*/
  #button{
    width: 60%;
    height: 49px;
    margin-top:5%;
    margin-left: 20%;
  }

  h4{
    margin-top: 10%;
    margin-bottom: 2%;
  }

  
#Miconsumo{
  margin-top:5%;
  width: 100%;
  margin-left: 0%;
}
}
@media (min-width: 480px) and (max-width: 575px){
  #huella-btn{
    margin-left: 20%;
  }
  
  #header-tittle h3{
    font-size: 18px;
    //margin-top:10%;
  }

  #si{
  font-size: 30px;
  margin-left: 30%;
  }
  #Nose{
    font-size: 30px;
    margin-left: 22%;
    }
    
    #button-elect{
      width: 60%;
      height: 49px;
      margin-top:5%;
      margin-left: 20%;
    }
    
    #text{
      font-size: 20px;
    }
    #text2{ 
      font-size: 20px;
    }
    .input{
      margin-left: 20%;
      width: 60%;
      margin-top:3%;
      height: 55px;
    }
    /*food*/
  #button{
    width: 60%;
    height: 49px;
    margin-top:5%;
    margin-left: 20%;
  }

  h4{
    margin-top: 10%;
    margin-bottom: 2%;
  }

  
#Miconsumo{
  margin-top:5%;
  width: 80%;
  margin-left: 10%;
}

}
@media (min-width: 361px) and (max-width: 479px){
  #huella-btn{
    font-size: 20px;
    margin-left: 10%;
  }
  #img-huella{
    width: 40%;
    height: 40%;
  }
  #header-tittle h3{
    font-size: 18px;
    //margin-top:10%;
  }

  #si{
  font-size: 30px;
  margin-left: 25%;
  }
  #Nose{
    font-size: 30px;
    margin-left: 22%;
    }
    
  #button-elect{
    width: 60%;
    height: 49px;
    margin-top:5%;
    margin-left: 20%;
  }
  
  #text{
    font-size: 18px;
  }
  #text2{ 
    font-size: 18px;
  }
  .input{
    margin-left: 20%;
    width: 60%;
    margin-top:3%;
    height: 55px;
  }
  /*food*/
  #button{
    width: 60%;
    height: 49px;
    margin-top:5%;
    margin-left: 20%;
  }

  h4{
    margin-top: 10%;
    margin-bottom: 2%;
  }

  
#Miconsumo{
  margin-top:5%;
  width: 80%;
  margin-left: 10%;
}
/*movilidad*/
ion-select {
  margin-left: 20%;
  width: 60%;
}

/*avión*/
#ViajoAvion{
margin-left: 25%;
}

#viajesCheck{
  width: 80%;
  margin-left: 10%;
}
}
@media (min-width: 240px) and (max-width: 360px){
  #huella-btn{
    font-size: 20px;
    margin-left: 10%;
  }
  #img-huella{
    width: 30%;
    height: 30%;
  }

  #header-tittle h3{
    font-size: 18px;
    margin-top:10%;
  }

  #answer{
    margin-top: 15%;
  }
  #si{
  font-size: 30px;
  margin-left: 25%;
  }
  #Nose{
    font-size: 30px;
    margin-left: 22%;
    }
    
  #button-elect{
    width: 60%;
    height: 49px;
    margin-top:15%;
    margin-left: 25%;
  }
  
  #text{
    font-size: 15px;
  }
  #text2{ 
    font-size: 15px;
  }
  .input{
    margin-left: 25%;
    width: 60%;
    margin-top:3%;
    height: 55px;
  }

  /*food*/
  #button{
    width: 60%;
    height: 49px;
    margin-top:5%;
    margin-left: 25%;
  }

  h4{
    margin-top: 10%;
    margin-bottom: 2%;
  }

  
#Miconsumo{
  margin-top:5%;
  width: 80%;
  margin-left: 10%;
}

/*movilidad*/
ion-select {
  margin-left: 25%;
  width: 60%;
}

/*avión*/
#ViajoAvion{
margin-left: 22%;
}

#viajesCheck{
  width: 80%;
  margin-left: 10%;
}
}