// Posición de la flecha
// ion-icon.vermas{
//     position: relative;
//     left: 55%;
//     top: 5px;
//     }

    $COLOR-PRIMARY:#43C0F6;
    $COLOR-SECUNDARY:#8CBF3F;
    $COLOR-title:#0e1b4d;
    /*importa tipografias*/
      @import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
      a,h1,h2,h3,h4,h5,h6,p{
        font-family: "Poppins", sans-serif;
      }

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}

body {
  color: #272727;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
}

.main{
  width: 100%;
  //margin: 0 auto;
}


ion-card-header{
  height: 60%;
  width: 100%;
  padding: 0 0 0 0;
  vertical-align: middle;
  
}

#project .button {
  display: inline-block;
          // margin-left: 40%;
          margin-top: 2%;
          //margin-bottom: 5%;
          width: 100%;
          text-align: center;
          color: $COLOR-PRIMARY;
          background: #fff;
          padding: 10px 22px;
          border-radius: 50px;
          //border: 2px solid  $COLOR-PRIMARY;
          transition: all ease-in-out 0.3s;
          font-weight: 500;
          line-height: 1;
          box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
          font-size: 18px;
}
a{
  text-decoration: none;
}
#project .button:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}

// ion-card {
//   width: 100%;
//   background-color: white;
//   border-radius: 0.25rem;
//   box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
//   display: flex;
//   height: 80%;
//   flex-direction: column;
//   overflow: hidden;
// }

ion-card-content {
  //padding: 1rem;
  width: 100%;
   height: 100% ;
  //background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
  background: $COLOR-PRIMARY;
}

ion-card-title {
  color: #ffffff;
  font-size:20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

#project{
  margin-top: 3%;
}

ion-menu-button{
  color: #fff;
}
#intro {
  width: 100%;
  height: 50vh;
  background: url(/assets/images/colorful2.jpg) top center;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

// #intro:before {
//   content: "";
//   background: rgba(6, 12, 34, 0.8);
//   position: absolute;
//   bottom: 0;
//   top: 0;
//   left: 0;
//   right: 0;
// }

#intro .intro-container {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 30px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#intro h2 {
  //color: #0e1b4d;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
  font-weight: bold;
}

#intro p {
  color: #fff;
  //font-weight: 700;
  font-size: 20px;
}
