<!-- <app-ion-header title="Banco de proyectos"></app-ion-header> -->

<ion-content>
    <section id="intro">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="intro-container">

            <h2>BANCO DE PROYECTOS</h2>
            <p>Conozca nuestros proyectos forestales y contribuya a la plantación de árboles en todo el territorio
                nacional.</p>
        </div>
    </section>
    <section id="project">
        <ion-row class="main">
            <ion-col size-md="6" size-lg="4" size-sm="6" size-xs="12" size-xl="4">
                <ion-card>
                    <ion-card-header> <img src="https://picsum.photos/500/300/?image=10"
                            style="width: 100%; height: 250px;"></ion-card-header>
                    <ion-card-content>
                        <ion-card-title>Protección páramo</ion-card-title>
                        <a routerLink="/allprojects/projectsdetails" class="button">Detalles</a>
                    </ion-card-content>

                </ion-card>

            </ion-col>
            <ion-col size-md="6" size-lg="4" size-sm="6" size-xs="12" size-xl="4">
                <ion-card>

                    <ion-card-header><img src="../assets/images/forest2.jpg" style="width: 100%; height: 250px;">
                    </ion-card-header>
                    <ion-card-content>

                        <ion-card-title>Bosque</ion-card-title>
                        <a routerLink="/allprojects/projectsdetails" class="button">Detalles</a>
                    </ion-card-content>

                </ion-card>
            </ion-col>
            <ion-col size-md="6" size-lg="4" size-sm="6" size-xs="12" size-xl="4">
                <ion-card>

                    <ion-card-header><img src="https://picsum.photos/500/300/?image=11"
                            style="width: 100%; height: 250px;"></ion-card-header>

                    <ion-card-content>
                        <ion-card-title>Sendero Universidad de santander</ion-card-title>

                        <a routerLink="/allprojects/projectsdetails" class="button">Detalles</a>
                    </ion-card-content>
                </ion-card>

            </ion-col>

        </ion-row>

    </section>

    <!-- Imagen que redirige a registrar proyecto -->
    <!-- <a routerLink="/projectregistrationform">
        <img src="assets/img/Registratuproyecto.png">
    </a> -->
    <!-- Muestra los proyectos que el usuario tiene registrados -->
    <!-- <div>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Protección Páramo</ion-card-title>
            </ion-card-header>
            <img src="assets/img/fondo.jpg">
            <ion-card-content>
                <ion-progress-bar value="0.25" buffer="0.25"></ion-progress-bar>
                <p>25% Financiado <br></p>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
                <ion-card-title>Titulo del proyecto</ion-card-title>
            </ion-card-header>
            <img src="assets/img/fondo.jpg">
            <ion-card-content>
                <ion-progress-bar value="0.40" buffer="0.40"></ion-progress-bar>
                <p>40% Financiado <br></p>
            </ion-card-content>
        </ion-card>
    </div> -->
</ion-content>