$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#8CBF3F;
$COLOR-title:#0e1b4d;
/*importa tipografias*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
a,h1,h2,h3,h4,h5,h6,p{
  font-family: "Poppins", sans-serif;
}
/*container*/
// ion-content{
//         width: 100%;
// }
ion-menu-button{
  color: #fff;
}
// #card-recovery {
//   width: 100%;
//   height: 100vh;
//   background: url(/assets/images/back3.jpg) top center;
//   background-size: cover;
//   overflow: hidden;
//   position: relative;
// }
ion-content{
  --background: url(/assets/images/back3.jpg) no-repeat top center;
}
// #card-recovery{
//     margin-top: 5%;
//     }
    form {
      margin-top: 8%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: all 0.2s 0.7s;
      overflow: hidden;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
  /*button send*/
#send {
    --background: #43C0F6;
    width: 150px;
    height: 49px;
    border-radius: 49px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: 0.5s;
  }
  #send:hover {
    --background: #5995fd;
   
  }

  /*inputs*/
  ion-input {
    --border-color: transparent!important;
    --highlight-height: 0;
    border: 2px solid #bebebe;
    width: 40%;
    background-color: #fff;
    height: 55px;
    border-radius: 55px;
  }

ion-label{
    font-size: 20px;
    color: #fff;
    margin-bottom: 3%;
    text-align: center;

}

h3{
  font-size: 28px;
    color:#fff;
    margin-bottom: 6%;
    text-align: center;
}

.img{
  width: 100%;
  height: 80%;
}
/*--------------------------------------------------------------
# valid
--------------------------------------------------------------*/
ion-input.ng-valid{
  border: 0.2px solid green;
  border-right: 0.2px solid green;
  }
  ion-input.ng-invalid.ng-touched{
  border: 0.2px solid red;
  border-right: 0.2px solid red;
  }
  ion-input.ng-pending{
  border: 0.2px solid #ff9415;
  border-right: 0.2px solid  #ff9415;
  }
  .error-message{
    color: #FF0000;
  }
/*--------------------------------------------------------------
# Change with device Section
--------------------------------------------------------------*/

@media (min-width: 678px) and (max-width: 750px){
  ion-label{
    font-size: 18px;
    margin-bottom: 8%;

}
form {
  margin-top: 0%;
}

h3{
  font-size: 28px;
    margin-bottom: 10%;
}

/*inputs*/
ion-input {
  width: 60%;
  height: 55px;

}
}

@media (min-width: 647px) and (max-width: 677px){
  ion-label{
    font-size: 18px;
    margin-bottom: 10%;

}
form {
  margin-top: 0%;
}

h3{
  font-size: 28px;
    margin-bottom: 10%;
}

/*inputs*/
ion-input {
  width: 60%;
  height: 55px;

}
}
@media (min-width: 576px) and (max-width: 646px){
  ion-label{
    font-size: 18px;
    margin-bottom: 10%;

}
form {
  margin-top: 0%;
}

h3{
  font-size: 28px;
    margin-bottom: 10%;
}

/*inputs*/
ion-input {
  width: 60%;
  height: 55px;

}
}
@media (min-width: 480px) and (max-width: 575px){
  ion-label{
    font-size: 18px;
    margin-bottom: 10%;

}
form {
  margin-top: 0%;
}

h3{
  font-size: 28px;
    margin-bottom: 15%;
}

/*inputs*/
ion-input {
  width: 60%;
  height: 55px;

}
}
@media (min-width: 361px) and (max-width: 479px){
  ion-label{
    font-size: 18px;
    margin-bottom: 10%;

}
form {
  margin-top: 0%;
}

h3{
  font-size: 28px;
    margin-bottom: 15%;
}

/*inputs*/
ion-input {
  width: 80%;
  height: 55px;

}
}
@media (min-width: 240px) and (max-width: 360px){
  ion-label{
    font-size: 16px;
    margin-bottom: 10%;

}
form {
  margin-top: 0%;
}

h3{
  font-size: 28px;
    margin-bottom: 15%;
}
ion-title{
  font-size: 14px;
}
/*inputs*/
ion-input {
  width: 100%;
  height: 55px;

}
}
@media (orientation: landscape){
  
}