<!-- <app-ion-header title="Recuperar contraseña"></app-ion-header> -->

<ion-content>
    <!-- Formulario para recuperación de contraseña -->
    <!-- <ion-card>
        <ion-card-header>
            <ion-card-title>Recuperar contraseña</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="forgotPassword" (ngSubmit)="sendLinkReset(forgotPassword.value)">
                <ion-label>Ingrese su correo electrónico.</ion-label>
                <ion-item>
                    <ion-input formControlName="email" type="email" placeholder="Correo electrónico"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.email">
                        <div class="error-message"
                            *ngIf="forgotPassword.get('email').hasError(validation.type) && (forgotPassword.get('email').dirty || forgotPassword.get('email').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <ion-button shape="round" expand="full" type="submit" [disabled]="!forgotPassword.valid" expand="full">
                    Enviar</ion-button>
            </form>
        </ion-card-content>
    </ion-card> -->
    <section id="card-recovery">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        <!-- <ion-row> -->
            <!-- <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6">
                <img class="img" src="../assets/images/password.svg" alt="">
            </ion-col>   -->
            <!-- <ion-col size-md="6" size-lg="6" size-sm="6" size-xs="12" size-xl="6"> -->
                <form [formGroup]="forgotPassword" (ngSubmit)="sendLinkReset(forgotPassword.value)">
                    <h3>¿Olvidó su contraseña?</h3>
                    <ion-label>¡No se preocupe! Ingrese su correo electrónico y nosotros le enviaremos un link de recuperación</ion-label>
                  <!-- <ion-label>Ingrese su correo electrónico</ion-label><br> -->
                  <ion-input placeholder="Correo electrónico" formControlName="email" type="email"></ion-input>
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.email">
                        <div class="error-message"
                            *ngIf="forgotPassword.get('email').hasError(validation.type) && (forgotPassword.get('email').dirty || forgotPassword.get('email').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                  <ion-button id="send"shape="round" expand="full" type="submit" [disabled]="!forgotPassword.valid">Enviar</ion-button>
                  <br>
                  <a routerLink="/home" style="text-decoration:underline;">Volver al inicio</a>
                </form>
            <!-- </ion-col>      -->
        <!-- </ion-row> -->
      </section>
</ion-content>