/*importa tipografias*/
@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
a,h1,h2,h3,h4,h5,h6,p{
  font-family: "Poppins", sans-serif;
}
$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#F28F38;
$COLOR-title:#40b3ff;
// background gradiente del sidemenu
.menu-header-bg {
  height: 180px;
  width: 350px;
  box-shadow: 0px 1px 5px rgba(98,140,255,0.5);
  //background: url("/assets/images/banner-bg.svg");
  transform: rotate(-10deg);
  background: $COLOR-PRIMARY;
  //background: linear-gradient(to right, # $COLOR-PRIMARY 0%, #ffbd59 100%);
  //border-radius: 15px 15px 15px 50px;
  border-radius: 15px 15px 15px 15px;
  margin-left: -18px;
  margin-top: -90px;
  margin-bottom: 35px;
}

//información dentro del header
.header-content{
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: left;
    img{
      border: 7px solid $COLOR-title;
      background-color: #fff;
    }
    h2{
      font-weight: 300;
      color: #fff;
      margin-left: 18px;
    }
    a{
      font-size: 15px;
      color: #fff;
      font-weight: 100;
      margin-left: 18px;
  text-decoration: none;
    }
    
}
ion-label{
  margin-right: 17px;
}
ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

//configuración para android
ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, $COLOR-PRIMARY);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  
  min-height: 20px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: #D7EEFE;
}

ion-menu.md ion-item.selected ion-icon {
  color: $COLOR-PRIMARY;;

}

ion-menu.md ion-item ion-icon {
  color: $COLOR-PRIMARY;
  font-size: 28px;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
  color: #616364;
}

//configuración para ios
ion-menu.ios ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0;
}

ion-menu.ios ion-note {
  margin-bottom: 30px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 10px;
}

ion-menu.ios ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, $COLOR-PRIMARY);
}

ion-menu.ios ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  
  min-height: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.ios ion-item.selected {
  --background: #D7EEFE;
}

ion-menu.ios ion-item.selected ion-icon {
  color: $COLOR-PRIMARY;

}

ion-menu.ios ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-item ion-icon {
  font-size: 28px;
  color: $COLOR-PRIMARY;
}

