<ion-app>
  <ion-split-pane contentId="main-content" when="(min-width: 1922px)">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div class="menu-header-bg"> </div>
        <div class="header-content" *ngFor="let data of dataUser">
          <ion-avatar >
            <!-- <img id="userImage" src="{{data.photoProfile.photoURL}}"> -->
          </ion-avatar>
          <ion-label>
            <!-- <h2>{{data.name}}</h2> -->
            <a routerLink="/account">Ver perfil</a>
          </ion-label>
        </div>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
              detail="false" [class.selected]="selectedIndex == i" (click)="onLogout(p.title)">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>

                <ion-label>{{ p.title }}</ion-label>

            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
