
<ion-content fullscreen>
  <ion-item id="item" class="botones">
    <ion-button (click)="cerrarModal()" fill="clear">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-item>

<img src="../assets/images/pago2.png" alt="">
</ion-content>
