$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#8CBF3F;
$COLOR-title:#0e1b4d;
/*importa tipografias*/
  @import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
  a,h1,h2,h3,h4,h5,h6,p{
    font-family: "Poppins", sans-serif;
  }
.botones{

    ion-icon{
        font-size: 30px;
        color: $COLOR-PRIMARY
    }
    --background: transparent;
}

// ion-content{
//     --background: #fff;
//     width: 100%;
//     height: 100%;
// }
img{
    height: 80%;
    width: 100%;
}