$COLOR-PRIMARY:#43C0F6;
$COLOR-SECUNDARY:#8CBF3F;
$COLOR-title:#0e1b4d;
/*importa tipografias*/
  @import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Lato:300,400,700&display=swap");
  a,h1,h2,h3,h4,h5,h6,p{
    font-family: "Poppins", sans-serif;
  }
  .wrapper {
    width: 80%;
    margin: auto;
    overflow:hidden;
  }
  ion-header {
    background: rgba($COLOR-title,0.4);
    width:auto;
    position: fixed;
    z-index: 10;
  }
  ion-menu-button{
    color: #fff;
    font-size: 30px;
}
/* container blanco y burbuja*/
.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
  
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  //background-image: linear-gradient(-45deg, #43C0F6 0%, #43C0F6 100%);
  background: url(/assets/images/back3.jpg);
  background-size: 100% 50%;
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}
/*container inicio sesion*/
.signin {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  //transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form.sign-in-form {
  z-index: 2;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.title{
    font-size: 25px;
    text-align: center;
    color: $COLOR-PRIMARY;
  }

  /*inputs*/
  ion-input {
  --border-color: transparent!important;
  --highlight-height: 0;
  border: 2px solid #bebebe;
  border-radius: 4px;
  max-width: 380px;
  width: 100%;
  background-color: #fff;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;

  &.input-has-focus {
      border: 2px solid $COLOR-PRIMARY;
  }
}

ion-button {
  --background: transparent;
  --box-shadow:none;
}
ion-icon{
  color: $COLOR-PRIMARY;
}

/*button send*/
#fancy-button {
  --background: #43C0F6;
  width: 150px;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}
#fancy-button:hover {
  --background: #5995fd;
  width: 40%;
  height: 40px;
 
}

/*social media*/
.social-icon {
    margin: 5px 2px;
    //padding: 2px 10px 2px 10px;
    // justify-content: center;
    // align-items: center;
    border-radius: 50%;
    //border: 2px solid $COLOR-PRIMARY;
    font-size: 30px;
  
  }
  .social-text {
    //padding: 0.7rem 0;
    font-size: 1rem;
  }
  .social-media {
    display: flex;
    // justify-content: center;
  }
  .social-icon:hover {
   ion-icon{
    color: #5995fd;
   }
  }

  /*container registrarse*/
  .panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
  }
  
  .image {
    width: 60%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
  }
  
  .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
    
  }

  .left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
  }

  .panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }
  .panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
  }
  .panel .menu{
    //background: $COLOR-PRIMARY;
    //background: url(/assets/images/back3.jpg);
    color: $COLOR-title;
    z-index: 7;
    top: 1%;
    right: 58%;
  }
  .panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
  }
 
    /*button register*/
    .download-btn {
          display: inline-block;
          // margin-left: 40%;
          // margin-top: 2%;
          //margin-bottom: 5%;
          color: #fff;
          background: transparent;
          padding: 10px 22px;
          border-radius: 50px;
          border: 2px solid  $COLOR-PRIMARY;
          transition: all ease-in-out 0.3s;
          font-weight: 500;
          line-height: 1;
          box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
          font-size: 18px;
      }
      
      a{
      text-decoration: none;
      }
      .text{
        color: #fff;
        text-align: center;
      }
      
      .download-btn:hover {
      background: transparent;
      color: $COLOR-PRIMARY;
      border: 2px solid $COLOR-PRIMARY;
      }

      /* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin {
  left: 25%;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

/*--------------------------------------------------------------
# valid
--------------------------------------------------------------*/
ion-input.ng-valid{
  border: 0.2px solid green;
  border-right: 0.2px solid green;
  }
  ion-input.ng-invalid.ng-touched{
  border: 0.2px solid red;
  border-right: 0.2px solid red;
  }
  ion-input.ng-pending{
  border: 0.2px solid #ff9415;
  border-right: 0.2px solid  #ff9415;
  }
  .error-message{
    color: #FF0000;
    font-size: 14px;
    ion-icon{
      color: #FF0000;
    font-size: 14px;
    }
  }
  
/*--------------------------------------------------------------
# Change with device Section
--------------------------------------------------------------*/

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin,
  .container.sign-up-mode .signin {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }


  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
   display: none;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }
  .download-btn {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }
  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .signin {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

@media (min-width:806px )and (max-width: 1023px) {
  .panel h3 {
    font-size: 1.4rem;
  }

  .panel p {
    font-size: 1rem;
    padding: 0.5rem 0;
  }
  .download-btn {
    width: 130px;
    height: 35px;
    font-size: 0.9rem;
  }
}
@media (min-width: 751px) and (max-width: 805px){
  .panel h3 {
    font-size: 1.4rem;
  }

  .panel p {
    font-size: 1rem;
    padding: 0.5rem 0;
  }
  .download-btn {
    width: 130px;
    height: 35px;
    font-size: 0.9rem;
  }
}
@media (min-width: 678px) and (max-width: 750px){
  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.9rem;
    padding: 0.5rem 0;
  }
  .download-btn {
    width: 130px;
    height: 35px;
    font-size: 0.9rem;
  }
}
@media (min-width: 647px) and (max-width: 677px){
  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.9rem;
    padding: 0.5rem 0;
  }
  .download-btn {
    width: 130px;
    height: 35px;
    font-size: 0.9rem;
  }
}
@media (min-width: 576px) and (max-width: 646px){
  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.9rem;
    padding: 0.5rem 0;
  }
  .download-btn {
    width: 130px;
    height: 35px;
    font-size: 0.9rem;
  }
}
@media (min-width: 480px) and (max-width: 575px){
      .panel h3 {
        font-size: 1.2rem;
      }

      .panel p {
        font-size: 0.9rem;
        padding: 0.5rem 0;
      }
      .download-btn {
        width: 120px;
        height: 35px;
        font-size: 0.8rem;
      }
}
@media (min-width: 361px) and (max-width: 479px){

      .panel h3 {
        font-size: 1.2rem;
      }
    
      .panel p {
        font-size: 0.8rem;
        padding: 0.5rem 0;
      }
      .download-btn {
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
      }
}
@media (min-width: 240px) and (max-width: 360px){

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.8rem;
    padding: 0.5rem 0;
  }
  .download-btn {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }
}
