<ion-content>
    <ion-header>
        <section class="wrapper">
          <ion-menu-button></ion-menu-button>
          </section>
      </ion-header>
    <!-- Logo + eslogan -->
    <!-- <ion-toolbar>
        <img src="assets/img/LOGO_10R.png" class="logo">
        <h4>Estrategias proactivas para mejorar la calidad del aire</h4>
    </ion-toolbar> -->
    <!-- Formulario Iniciar sesión -->
    <!-- <ion-card>
        <ion-card-header>
            <ion-card-title>Identifíquese</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <form [formGroup]="loginFrom" (ngSubmit)="saveData(loginFrom.value)">
                <ion-item>
                    <ion-input formControlName="email" type="email" placeholder="Correo electrónico"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.email">
                        <div class="error-message"
                            *ngIf="loginFrom.get('email').hasError(validation.type) && (loginFrom.get('email').dirty || loginFrom.get('email').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <ion-item>
                    <ion-input (keypress)="eventHandler($event.keyCode)" formControlName="password"
                        [type]="hide ? 'password' : 'text'" placeholder="Contraseña"></ion-input>
                    <ion-button (click)="hide = !hide">
                        <ion-icon shape="end" [name]="hide ? 'eye' : 'eye-off'"></ion-icon>
                    </ion-button>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.password">
                        <div class="error-message"
                            *ngIf="loginFrom.get('password').hasError(validation.type) && (loginFrom.get('password').dirty || loginFrom.get('password').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <a class="link" routerLink="/login/recoverpassword">¿Olvidó los datos de la cuenta?</a>

                <ion-item-divider>
                    <ion-toolbar>
                        <ion-button id="bttSubmit" shape="round" expand="full" type="submit"
                            [disabled]="!loginFrom.valid">Iniciar sesión</ion-button>
                    </ion-toolbar>
                </ion-item-divider>
            </form>
            <ion-toolbar class="bttSocialNetworks">
                <p>O inicia sesión con:</p>
                <ion-buttons slot="primary">
                    <ion-button shape="round" id="BttLeftGoogle" (click)="LoginGoogle()">
                        <ion-icon name="logo-google" id="google"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-toolbar>
            <ion-button shape="round" expand="full" routerLink="/login/registry">
                <ion-icon name="person-add-outline"></ion-icon>
                &nbsp;Crea una cuenta
            </ion-button>
        </ion-toolbar>
    </ion-card> -->
    <!-- <div class="menu">  <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons></div> -->
    <div class="container">
      <div class="signin">
        <form action="#" class="sign-in-form" [formGroup]="loginFrom" (ngSubmit)="saveData(loginFrom.value)">
          <h2 class="title">Iniciar sesión</h2>
            <ion-input placeholder="Correo electrónico" formControlName="email" type="email"></ion-input>
          <ng-container *ngFor="let validation of validation_messages.email">
            <div class="error-message"
                *ngIf="loginFrom.get('email').hasError(validation.type) && (loginFrom.get('email').dirty || loginFrom.get('email').touched)">
                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
            </div>
        </ng-container><br>
            <ion-input placeholder="Contraseña" (keypress)="eventHandler($event.keyCode)" formControlName="password"
            [type]="hide ? 'password' : 'text'" >
            <ion-button (click)="hide = !hide" class="ion-text-end">
                <ion-icon [name]="hide ? 'eye' : 'eye-off'"></ion-icon>
              </ion-button>
            </ion-input>  
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message"
                    *ngIf="loginFrom.get('password').hasError(validation.type) && (loginFrom.get('password').dirty || loginFrom.get('password').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                </div>
            </ng-container>
        </div><br>
          <a class="link" routerLink="/login/recoverpassword" >¿Olvidó su contraseña?</a>
                <ion-button id="fancy-button" shape="round" expand="full" type="submit"
                [disabled]="!loginFrom.valid"  >Iniciar</ion-button><br>
            <p class="social-text">También puede iniciar sesión con:</p>
            <!-- <div class="social-media"> -->
              <!-- <a href="" class="social-icon"><ion-icon name="logo-facebook"></ion-icon></a> -->
            <a href="" class="social-icon" (click)="LoginGoogle()"><ion-icon  name="logo-google"></ion-icon></a>
            <!-- </div> -->
            <a routerLink="/home" style="text-decoration:underline;">Volver al inicio</a>
        </form>
      </div>
    
      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <img src="../assets/images/logo-blanco.png" class="image">
            <h3>¿Nuevo aquí?</h3>
            <p>
              Sea parte de la iniciativa aire más limpio y contribuya a la mejora de la calidad del aire!
            </p>
            <a routerLink="/login/registry" class="download-btn"> Regístrese</a>
          </div>
        </div>
      </div>
    </div>
</ion-content>