<!-- <app-ion-header title="Registrar proyecto"></app-ion-header>
 -->

<ion-content >
    <!-- <section id="intro">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="intro-container">
    
            <h5>Los bosques son vitales para la vida tal como la conocemos,filtran nuestro aire y ahora, necesitan nuestra ayuda.</h5>

            <h2 >¡REGISTRE UN PROYECTO!</h2>

        </div>
      </section> -->
    <section id="register-project">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <h5>Los bosques son vitales para la vida tal como la conocemos,filtran nuestro aire y ahora, necesitan nuestra ayuda.</h5>
          <h2 >¡REGISTRE UN PROYECTO!</h2>  
        <ion-card id="contenedor">
            <form [formGroup]="RegisterProject" (ngSubmit)="saveData(RegisterProject.value)">
                <h3>Información General</h3>
                <ion-row>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Nombre del proyecto</p>
                        <ion-input class="input-field" formControlName="projectName" placeholder="Ingrese nombre "></ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.projectName">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('projectName').hasError(validation.type) && (RegisterProject.get('projectName').dirty || RegisterProject.get('projectName').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Tipo de proyecto</p>
                        
                        <ion-select class="input-field" formControlName="projectType" placeholder="Seleccionar">
                            <ion-select-option *ngFor="let projectType of typepfprojects" [value]="projectType">
                                {{projectType}}</ion-select-option>
                        </ion-select>
                <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.projectType">
                    <div class="error-message"
                        *ngIf="RegisterProject.get('projectType').hasError(validation.type) && (RegisterProject.get('projectType').dirty || RegisterProject.get('projectType').touched)">
                        <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                    </div>
                </ng-container>
            </div>
                    </ion-col>

                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Tipo de bosque</p>
 
                            <ion-select  class="input-field" formControlName="forestType" placeholder="Seleccionar">
                                <ion-select-option *ngFor="let forestType of foresttype" [value]="forestType">{{forestType}}
                                </ion-select-option>
                            </ion-select>
      
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.forestType">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('forestType').hasError(validation.type) && (RegisterProject.get('forestType').dirty || RegisterProject.get('forestType').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
  
                    </ion-col>

                </ion-row>
                            
                <ion-row>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Área del bosque en héctareas(Ha)</p>
                        <ion-input class="input-field" formControlName="forestArea" placeholder="Ingrese héctareas(Ha)"></ion-input>
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.forestArea">
                            <div class="error-message"
                                *ngIf="RegisterProject.get('forestArea').hasError(validation.type) && (RegisterProject.get('forestArea').dirty || RegisterProject.get('forestArea').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Especie predominante de árboles&nbsp;</p>
                        <ion-select  class="input-field" formControlName="treespecies" placeholder="Seleccionar">
                            <ion-select-option *ngFor="let treespecies of treespecies" [value]="treespecies">{{treespecies}}
                            </ion-select-option> 
                            </ion-select>
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.treespecies">
                                    <div class="error-message"
                                        *ngIf="RegisterProject.get('treespecies').hasError(validation.type) && (RegisterProject.get('treespecies').dirty || RegisterProject.get('treespecies').touched)">
                                        <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>

                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Altura promedio de los árboles&nbsp; &nbsp; &nbsp; &nbsp; </p>
                            <ion-select class="input-field" formControlName="treeSize" placeholder="Seleccionar">
                                <ion-select-option *ngFor="let treeSize of treesize" [value]="treeSize">{{treeSize}}
                                </ion-select-option>
                            </ion-select>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.treeSize">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('treeSize').hasError(validation.type) && (RegisterProject.get('treeSize').dirty || RegisterProject.get('treeSize').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
    
                </ion-row>  
                
                <ion-row>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Diámetro de los árboles</p>
 
                        <ion-select  class="input-field" formControlName="treeDiameter" placeholder="Seleccionar">
                            <ion-select-option *ngFor="let treeSize of treediameter" [value]="treeSize">{{treeSize}}
                            </ion-select-option>
                        </ion-select>
 
                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.treeDiameter">
                            <div class="error-message"
                                *ngIf="RegisterProject.get('treeDiameter').hasError(validation.type) && (RegisterProject.get('treeDiameter').dirty || RegisterProject.get('treeDiameter').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4"> 
                        <p>Edad del bosque</p>
                        
                        <ion-select class="input-field" formControlName="treeAge" placeholder="Seleccionar">
                            <ion-select-option *ngFor="let treeAge of ageoftree" [value]="treeAge">{{treeAge}}
                            </ion-select-option>
                        </ion-select>

                    <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.treeAge">
                            <div class="error-message"
                                *ngIf="RegisterProject.get('treeAge').hasError(validation.type) && (RegisterProject.get('treeAge').dirty || RegisterProject.get('treeAge').touched)">
                                <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                            </div>
                        </ng-container>
                    </div>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Temperatura </p>
                          
                                <ion-item class="auth-time" >
                                  <ion-input formControlName="temperature" placeholder="Ingrese"></ion-input>
                                  <ion-select formControlName="typeTemperature" >
                                    <ion-select-option *ngFor="let typeTemperature of temperaturetype" [value]="typeTemperature">
                                        {{typeTemperature}}</ion-select-option>
                                  </ion-select>
                                </ion-item>
                             
                              <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.temperature">
                                    <div class="error-message"
                                        *ngIf="RegisterProject.get('temperature').hasError(validation.type) && (RegisterProject.get('temperature').dirty || RegisterProject.get('temperature').touched)">
                                        <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div>
                            
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.typeTemperature">
                                    <div class="error-message"
                                        *ngIf="RegisterProject.get('typeTemperature').hasError(validation.type) && (RegisterProject.get('typeTemperature').dirty || RegisterProject.get('typeTemperature').touched)">
                                        <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                    </div>
                                </ng-container>
                            </div> 
                    </ion-col>
                </ion-row>

                <h3>Ubicación</h3>

                <ion-row>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>País</p>
                            <ion-select class="input-field" formControlName="country" placeholder="Seleccionar" (ionChange)="oncountryChange()">
                                <ion-select-option *ngFor="let country of countries" [value]="country">{{country}}
                                </ion-select-option>
                            </ion-select>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.country">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('country').hasError(validation.type) && (RegisterProject.get('country').dirty || RegisterProject.get('country').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col  id="department" size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Departamento</p>
                            <ion-select  class="input-field" formControlName="department" placeholder="Seleccionar" (ionChange)="departmentChange()">
                                <ion-select-option *ngFor="let department of Departmentchoose" [value]="department">
                                    {{department}}</ion-select-option>
                            </ion-select>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.department">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('department').hasError(validation.type) && (RegisterProject.get('department').dirty || RegisterProject.get('department').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col id="municipality" size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Municipio</p>
                            <ion-select class="input-field" formControlName="municipality" placeholder="Seleccionar">
                                <ion-select-option *ngFor="let municipality of Municipalitychoose" [value]="municipality">
                                    {{municipality}}</ion-select-option>
                            </ion-select>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.municipality">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('municipality').hasError(validation.type) && (RegisterProject.get('municipality').dirty || RegisterProject.get('municipality').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                              
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Zona</p>
                            <ion-select class="input-field" formControlName="zone" placeholder="Seleccionar">
                                <ion-select-option *ngFor="let zone of zone" [value]="zone">{{zone}}</ion-select-option>
                            </ion-select>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.zone">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('zone').hasError(validation.type) && (RegisterProject.get('zone').dirty || RegisterProject.get('zone').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col  size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Altura sobre el nivel del mar</p>

                            <ion-select  class="input-field" formControlName="msnm" placeholder="Seleccionar">
                                <ion-select-option *ngFor="let msnm of heightsealevel" [value]="msnm">{{msnm}}
                                </ion-select-option>
                            </ion-select>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.msnm">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('msnm').hasError(validation.type) && (RegisterProject.get('msnm').dirty || RegisterProject.get('msnm').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                </ion-row>
                
                <h3>Legalidad</h3>

                <ion-row>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Nombre del predio</p>
                            <ion-input class="input-field" formControlName="propertyName" placeholder="Ingrese nombre de predio"></ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.propertyName">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('propertyName').hasError(validation.type) && (RegisterProject.get('propertyName').dirty || RegisterProject.get('propertyName').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Cédula catastral</p>
                            <ion-input class="input-field" formControlName="cadastralCertificate" placeholder="Ingrese cédula catastral"></ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.cadastralCertificate">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('cadastralCertificate').hasError(validation.type) && (RegisterProject.get('cadastralCertificate').dirty || RegisterProject.get('cadastralCertificate').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </ion-col>
                    <ion-col  size-md="4" size-lg="4" size-sm="4" size-xs="12" size-xl="4">
                        <p>Matrícula inmobiliaria</p>
                            <ion-input  class="input-field"(keypress)="eventHandler($event.keyCode)" formControlName="enrollment" placeholder="Ingrese matrícula"></ion-input>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.enrollment">
                                <div class="error-message"
                                    *ngIf="RegisterProject.get('enrollment').hasError(validation.type) && (RegisterProject.get('enrollment').dirty || RegisterProject.get('enrollment').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>  
                    </ion-col>
                </ion-row>
                <h3>Agregar fotografías</h3>

                <div class="image-upload">
                        <div *ngFor="let data of imagePreview">
                            <img [src]="data" class="imagePreview">
                        </div>
                    <label for="files">
                        <ion-avatar class="uploadImage">
                            <ion-icon id="icon-camera" name="camera-outline"></ion-icon>
                        </ion-avatar>
                    </label>
                    <input type="file" id="files" formControlName="uploadImage" (change)="handleImage($event)" />
                    <!--accept="image/x-png,image/gif,image/jpeg" FIXME: Falta colocar las restrinsiones (solo formato img)-->
                 </div>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.uploadImage">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('uploadImage').hasError(validation.type) && (RegisterProject.get('uploadImage').dirty || RegisterProject.get('uploadImage').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <ion-button id="send" shape="round" expand="full" type="submit"  [disabled]="!RegisterProject.valid" expand="full">Registrar</ion-button>
            
        </form>
    </ion-card>
    </section>
    <!-- <ion-toolbar>
        <h2>Información General</h2>
    </ion-toolbar> -->
    <!-- Formulario registro de proyecto - Información basica del bosque -->
    <!-- <form [formGroup]="RegisterProject" (ngSubmit)="saveData(RegisterProject.value)">
        <ion-card>
            <ion-card-content>
                <ion-item>
                    <ion-label position="floating">Nombre del proyecto</ion-label>
                    <ion-input formControlName="projectName"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.projectName">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('projectName').hasError(validation.type) && (RegisterProject.get('projectName').dirty || RegisterProject.get('projectName').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <ion-item>
                    <ion-label position="stacked">Especie predominante de arboles</ion-label>
                    <ion-select formControlName="treespecies" placeholder="Seleccionar">
                        <ion-select-option *ngFor="let treespecies of treespecies" [value]="treespecies">{{treespecies}}
                        </ion-select-option> -->
                        <!-- <ion-input formControlName="otratreespecies"></ion-input> FIXME: HABILITAR LA OPCIÓN DE OTROS -->
                    <!-- </ion-select>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.treespecies">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('treespecies').hasError(validation.type) && (RegisterProject.get('treespecies').dirty || RegisterProject.get('treespecies').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <ion-item>
                    <ion-label position="stacked">Altura promedio de los arboles</ion-label>
                    <ion-select formControlName="treeSize" placeholder="Seleccionar">
                        <ion-select-option *ngFor="let treeSize of treesize" [value]="treeSize">{{treeSize}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.treeSize">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('treeSize').hasError(validation.type) && (RegisterProject.get('treeSize').dirty || RegisterProject.get('treeSize').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <ion-item>
                    <ion-label position="floating">Diametro promedio</ion-label>
                    <ion-select formControlName="treeDiameter" placeholder="Seleccionar">
                        <ion-select-option *ngFor="let treeSize of treediameter" [value]="treeSize">{{treeSize}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.treeDiameter">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('treeDiameter').hasError(validation.type) && (RegisterProject.get('treeDiameter').dirty || RegisterProject.get('treeDiameter').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <ion-item>
                    <ion-label position="stacked">Extención del bosque</ion-label>
                    <ion-input formControlName="forestArea" placeholder="Ingrese valor en hectareas (Ha)"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.forestArea">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('forestArea').hasError(validation.type) && (RegisterProject.get('forestArea').dirty || RegisterProject.get('forestArea').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <ion-item>
                    <ion-label position="floating">Tipo de proyecto</ion-label>
                    <ion-select formControlName="projectType" placeholder="Seleccionar">
                        <ion-select-option *ngFor="let projectType of typepfprojects" [value]="projectType">
                            {{projectType}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.projectType">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('projectType').hasError(validation.type) && (RegisterProject.get('projectType').dirty || RegisterProject.get('projectType').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <ion-item>
                    
                    <ion-label position="floating">Edad del bosque</ion-label>
                    <ion-select formControlName="treeAge" placeholder="Seleccionar">
                        <ion-select-option *ngFor="let treeAge of ageoftree" [value]="treeAge">{{treeAge}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.treeAge">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('treeAge').hasError(validation.type) && (RegisterProject.get('treeAge').dirty || RegisterProject.get('treeAge').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <ion-item>
                    <ion-label position="stacked">Tipo de bosque</ion-label>
                    <ion-select formControlName="forestType" placeholder="Seleccionar">
                        <ion-select-option *ngFor="let forestType of foresttype" [value]="forestType">{{forestType}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.forestType">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('forestType').hasError(validation.type) && (RegisterProject.get('forestType').dirty || RegisterProject.get('forestType').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <ion-item>
                    <ion-label position="stacked">Temperatura promedio</ion-label>
                    <ion-select formControlName="typeTemperature" placeholder="Seleccionar">
                        <ion-select-option *ngFor="let typeTemperature of temperaturetype" [value]="typeTemperature">
                            {{typeTemperature}}</ion-select-option>
                    </ion-select>
                    <ion-input formControlName="temperature" placeholder="Ingrese"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.typeTemperature">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('typeTemperature').hasError(validation.type) && (RegisterProject.get('typeTemperature').dirty || RegisterProject.get('typeTemperature').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.temperature">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('temperature').hasError(validation.type) && (RegisterProject.get('temperature').dirty || RegisterProject.get('temperature').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
            </ion-card-content>
        </ion-card> -->
        <!-- Ubicación del Proyecto -->
        <!-- <ion-toolbar>
            <h2>Ubicación del Proyecto</h2>
        </ion-toolbar>
        <ion-card>
            <ion-card-content> -->
                <!-- Deacuerdo a la opción escogida por paìs se condicionan los demàs selects -->
                <!-- <ion-item>
                    <ion-label position="stacked">País</ion-label>
                    <ion-select formControlName="country" placeholder="Seleccionar" (ionChange)="oncountryChange()">
                        <ion-select-option *ngFor="let country of countries" [value]="country">{{country}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.country">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('country').hasError(validation.type) && (RegisterProject.get('country').dirty || RegisterProject.get('country').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <ion-item id="department">
                    <ion-label position="stacked">Departamento</ion-label>
                    <ion-select formControlName="department" placeholder="Seleccionar" (ionChange)="departmentChange()">
                        <ion-select-option *ngFor="let department of Departmentchoose" [value]="department">
                            {{department}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.department">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('department').hasError(validation.type) && (RegisterProject.get('department').dirty || RegisterProject.get('department').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <ion-item id="municipality">
                    <ion-label position="stacked">Municipio</ion-label>
                    <ion-select formControlName="municipality" placeholder="Seleccionar">
                        <ion-select-option *ngFor="let municipality of Municipalitychoose" [value]="municipality">
                            {{municipality}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.municipality">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('municipality').hasError(validation.type) && (RegisterProject.get('municipality').dirty || RegisterProject.get('municipality').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div> -->
                <!-- Fin -->
                <!-- <ion-item>
                    <ion-label>Zona</ion-label>
                    <ion-select formControlName="zone" placeholder="Seleccionar">
                        <ion-select-option *ngFor="let zone of zone" [value]="zone">{{zone}}</ion-select-option>
                    </ion-select>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.zone">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('zone').hasError(validation.type) && (RegisterProject.get('zone').dirty || RegisterProject.get('zone').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <ion-item>
                    <ion-label position="stacked">Altura sobre el nivel del mar</ion-label>
                    <ion-select formControlName="msnm" placeholder="Seleccionar">
                        <ion-select-option *ngFor="let msnm of heightsealevel" [value]="msnm">{{msnm}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.msnm">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('msnm').hasError(validation.type) && (RegisterProject.get('msnm').dirty || RegisterProject.get('msnm').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
            </ion-card-content>
        </ion-card> -->
        <!-- Aspectos legales-->
        <!-- <ion-toolbar>
            <h2>Aspectos Legales</h2>
        </ion-toolbar>
        <ion-card>
            <ion-card-content>
                <ion-item>
                    <ion-label position="floating">Nombre del predio</ion-label>
                    <ion-input formControlName="propertyName"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.propertyName">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('propertyName').hasError(validation.type) && (RegisterProject.get('propertyName').dirty || RegisterProject.get('propertyName').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <ion-item>
                    <ion-label position="floating">Cédula catastral</ion-label>
                    <ion-input formControlName="cadastralCertificate"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.cadastralCertificate">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('cadastralCertificate').hasError(validation.type) && (RegisterProject.get('cadastralCertificate').dirty || RegisterProject.get('cadastralCertificate').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
                <ion-item>
                    <ion-label position="floating">Matrícula inmobiliaria</ion-label>
                    <ion-input (keypress)="eventHandler($event.keyCode)" formControlName="enrollment"></ion-input>
                </ion-item>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.enrollment">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('enrollment').hasError(validation.type) && (RegisterProject.get('enrollment').dirty || RegisterProject.get('enrollment').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
            </ion-card-content>
        </ion-card> -->
        <!--Agregar fotos y/o videos-->
        <!-- <ion-toolbar>
            <h2>Agregar fotos</h2>
        </ion-toolbar>
        <ion-card>
            <ion-card-content>
                <div class="image-upload">
                    <ion-item-divider>
                        <div *ngFor="let data of imagePreview">
                            <img [src]="data" class="imagePreview">
                        </div>
                    </ion-item-divider>
                    <label for="files">
                        <ion-avatar class="uploadImage">
                            <ion-icon id="icon-camera" name="camera-outline"></ion-icon>
                        </ion-avatar>
                    </label>
                    <input type="file" id="files" formControlName="uploadImage" (change)="handleImage($event)" /> -->
                    <!--accept="image/x-png,image/gif,image/jpeg" FIXME: Falta colocar las restrinsiones (solo formato img)-->
                <!-- </div>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.uploadImage">
                        <div class="error-message"
                            *ngIf="RegisterProject.get('uploadImage').hasError(validation.type) && (RegisterProject.get('uploadImage').dirty || RegisterProject.get('uploadImage').touched)">
                            <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                        </div>
                    </ng-container>
                </div>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-toolbar>
                <ion-button id="bttSubmitResgistroProyecto" shape="round" type="submit"
                    [disabled]="!RegisterProject.valid" expand="full">Finalizar Registro</ion-button>
            </ion-toolbar>
        </ion-card>
    </form> -->
</ion-content>