<app-ion-header title="mi cuenta"></app-ion-header>

<ion-content color="light">
    <!-- <ion-progress-bar [value]="" color="success"></ion-progress-bar> -->
    <div *ngFor="let data of dataUser">
        <!-- container de proyectos y puntos -->
        <ion-card class="userData">
            <div>
                <ion-grid>
                    <ion-row>
                        <ion-col>
                            <img id="userImage" src="{{data.photoProfile.photoURL}}">
                            <div class="image-upload">
                                <label for="files">
                                    <ion-avatar class="updateImage">
                                        <ion-icon id="icon-camera" name="camera-outline"></ion-icon>
                                    </ion-avatar>
                                </label>
                                <input type="file" id="files" (change)="handleImage($event)" />
                                <!--accept="image/x-png,image/gif,image/jpeg" FIXME: Falta colocar las restrinsiones (solo formato img)-->
                            </div>
                            <div class="ion-text-uppercase">
                                <ion-label class="name">{{data.name}}</ion-label>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <div class="containers">
                            <ion-col id="columnCounters">
                                <div id="displayCounters">
                                    <ion-label id="container">0</ion-label>
                                    <ion-label>Proyectos registrados</ion-label>
                                </div>
                            </ion-col>
                            <ion-col id="columnCounters">
                                <div id="displayCounters">
                                    <ion-label id="container">0</ion-label>
                                    <ion-label>Proyectos patrocinados</ion-label>
                                </div>
                            </ion-col>
                            <ion-col>
                                <div id="displayCounters">
                                    <ion-label id="container">0</ion-label>
                                    <ion-label>Puntos obtenidos</ion-label>
                                </div>
                            </ion-col>
                        </div>
                    </ion-row>
                </ion-grid>
            </div>
        </ion-card>
        <!-- Formulario para Empresa (Solo carga cuando hizo login Empresa) -->
        <div *ngIf="data.rol == 'Empresa'">
            <ion-card>
                <ion-card-header>
                    <ion-card-title>Datos de la empresa:</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <form [formGroup]="UpdatePNatural" (ngSubmit)="saveDataPNatural(UpdatePNatural.value)">
                        <ion-label>Nit de la empresa</ion-label>
                        <ion-item>
                            <ion-input formControlName="nit" placeholder="{{data.nit}}"></ion-input>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.nit">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('nit').hasError(validation.type) && (UpdatePNatural.get('nit').dirty || UpdatePNatural.get('nit').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                        <ion-label>Nombre de la empresa</ion-label>
                        <ion-item>
                            <ion-input formControlName="companyName" placeholder="{{data.companyName}}"></ion-input>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.companyName">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('companyName').hasError(validation.type) && (UpdatePNatural.get('companyName').dirty || UpdatePNatural.get('companyName').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                        <ion-label>Nombre de la empresa</ion-label>
                        <ion-item>
                            <ion-input formControlName="companyActivity" placeholder="{{data.companyActivity}}">
                            </ion-input>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.companyActivity">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('companyActivity').hasError(validation.type) && (UpdatePNatural.get('companyActivity').dirty || UpdatePNatural.get('companyActivity').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                    </form>
                </ion-card-content>
            </ion-card>
        </div>
        <!-- Formulario General -->
        <div class="P.Natural">
            <ion-card>
                <ion-card-content>
                    <form [formGroup]="UpdatePNatural" (ngSubmit)="saveDataPNatural(UpdatePNatural.value)">
                        <ion-item>
                            <ion-label position="stacked">Tipo de documento</ion-label>
                            <ion-select formControlName="documentType" placeholder="Seleccionar">
                                <ion-select-option value="Cédula de Ciudadanía">Cédula de Ciudadanía</ion-select-option>
                                <ion-select-option value="Cédula de Extranjería">Cédula de Extranjería
                                </ion-select-option>
                                <ion-select-option value="Carné diplomatico">Carné diplomatico</ion-select-option>
                                <ion-select-option value="Pasporte">Pasporte</ion-select-option>
                                <ion-select-option value="Permiso especial de permanencia">Permiso especial de
                                    permanencia</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.documentType">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('documentType').hasError(validation.type) && (UpdatePNatural.get('documentType').dirty || UpdatePNatural.get('documentType').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                        <ion-label>Ingrese su documento</ion-label>
                        <ion-item>
                            <ion-input formControlName="document" placeholder="{{data.document}}"></ion-input>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.document">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('document').hasError(validation.type) && (UpdatePNatural.get('document').dirty || UpdatePNatural.get('document').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                        <ion-label>Nombres</ion-label>
                        <ion-item>
                            <ion-input formControlName="name" placeholder="{{data.name}}"></ion-input>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.name">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('name').hasError(validation.type) && (UpdatePNatural.get('name').dirty || UpdatePNatural.get('name').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                        <ion-label>Apellidos</ion-label>
                        <ion-item>
                            <ion-input formControlName="lastName" placeholder="{{data.lastName}}"></ion-input>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.lastName">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('lastName').hasError(validation.type) && (UpdatePNatural.get('lastName').dirty || UpdatePNatural.get('lastName').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                        <!-- Deacuerdo a la opción escogida por paìs se condicionan los demàs selects -->
                        <ion-item>
                            <ion-label position="stacked">País</ion-label>
                            <ion-select formControlName="country" placeholder="Seleccionar"
                                (ionChange)="oncountryChange()">
                                <ion-select-option *ngFor="let country of countries" [value]="country">{{country}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.country">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('country').hasError(validation.type) && (UpdatePNatural.get('country').dirty || UpdatePNatural.get('country').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                        <ion-item id="department">
                            <ion-label position="stacked">Departamento</ion-label>
                            <ion-select formControlName="department" placeholder="Seleccionar"
                                (ionChange)="departmentChange()">
                                <ion-select-option *ngFor="let department of Departmentchoose" [value]="department">
                                    {{department}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.department">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('department').hasError(validation.type) && (UpdatePNatural.get('department').dirty || UpdatePNatural.get('department').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                        <ion-item id="municipality">
                            <ion-label position="stacked">Municipio</ion-label>
                            <ion-select formControlName="municipality" placeholder="Seleccionar">
                                <ion-select-option *ngFor="let municipality of Municipalitychoose"
                                    [value]="municipality">{{municipality}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.municipality">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('municipality').hasError(validation.type) && (UpdatePNatural.get('municipality').dirty || UpdatePNatural.get('municipality').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                        <!-- Fin -->
                        <ion-label>Celular</ion-label>
                        <ion-item>
                            <ion-input formControlName="cellPhone" placeholder="{{data.cellPhone}}"></ion-input>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.cellPhone">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('cellPhone').hasError(validation.type) && (UpdatePNatural.get('cellPhone').dirty || UpdatePNatural.get('cellPhone').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                        <ion-label>Teléfono</ion-label>
                        <ion-item>
                            <ion-input formControlName="telephone" placeholder="{{data.telephone}}"></ion-input>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.telephone">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('telephone').hasError(validation.type) && (UpdatePNatural.get('telephone').dirty || UpdatePNatural.get('telephone').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                        <ion-label>Dirección</ion-label>
                        <ion-item>
                            <ion-input (keypress)="eventHandler($event.keyCode)" formControlName="direction"
                                placeholder="{{data.direction}}"></ion-input>
                        </ion-item>
                        <div class="validation-errors">
                            <ng-container *ngFor="let validation of validation_messages.direction">
                                <div class="error-message"
                                    *ngIf="UpdatePNatural.get('direction').hasError(validation.type) && (UpdatePNatural.get('direction').dirty || UpdatePNatural.get('direction').touched)">
                                    <ion-icon name="information-circle-outline"></ion-icon>&nbsp;{{validation.message}}
                                </div>
                            </ng-container>
                        </div>
                        <ion-toolbar>
                            <ion-button id="bttSubmit" shape="round" expand="full" type="submit"
                                [disabled]="!UpdatePNatural.valid" expand="full">Actualizar datos</ion-button>
                        </ion-toolbar>
                    </form>
                </ion-card-content>
            </ion-card>
        </div>
    </div>
</ion-content>