#userImage{
    width: 90px;
    height: 90px;
    background-size: auto;
    border-radius: 100%;
    opacity: 1;
    border: 2px solid #fff;
}
.name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #355F93;
}
.containers{
    display: flex;
    margin-top: 25px;
}
#displayCounters{
    display: flex;
    -moz-box-align: center;
    align-items: center;
    -moz-box-pack: center;
    justify-content: center;
    flex-direction: column;
}
#columnCounters{
    border-right: 1px solid #22c7fb; 
}
#container{
    font-weight: 700;
    font-size: 20px;
    color: rgb(25, 42, 50);
}
.userData{
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    padding: 24px;
    border-bottom: 1px solid rgb(212, 227, 235);    
    text-align: center;
}
// Modifica la posición del boton
ion-button {
    padding: 0 50px 0;
}
#department{
    display: none;
}
#municipality{
    display: none;
}
// ---------------- image-upload ----------------------
.updateImage{
    bottom: 60px;
    position: absolute;
    right: 105px;
    transform: translate(50%, 50%);
    background: whitesmoke;
    height: 32px;
    width: 32px;
    cursor: pointer;
}
.updateImage #icon-camera{
    height: 30px;
    width: 30px;
}
.image-upload > input {
    visibility:hidden;
    width:0;
    height:0
}