/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.my-modal-css .modal-wrapper{
    height: 80%;
    width: 95%;
    position: absolute;
    top: 10%;
}
.my-modal2-css .modal-wrapper{
    height: 60%;
    width: 65%;
    position: absolute;
    top: 10%;
    left: 15%;
}
.my-modal-galery-css .modal-wrapper{
    //height: 100%;
    width: 80%;
    position: absolute;
    top: 10%;
    //left: 15%;
}
.my-custom-class{
    --color:#fff;
    border-radius: 50%;
    font-size: 18px;
}
@media (min-width: 240px) and (max-width: 360px){
    :root {
        .popover-content {
            left: 0 !important;
            width: 100%;
        }
        .popover-content ion-list ion-label
    {
    font-size:12px !important;
    } 
    }
    .my-modal2-css .modal-wrapper{
        height: 40%;
        width: 100%;
        position: absolute;
        top: 5%;
        left: 0%;
    }
    .my-modal-galery-css .modal-wrapper{
        height: 100%;
        width: 100%;
        position: absolute;
        // top: 10%;
        left: 0%;
    }
}
@media (min-width: 1024px) {
:root {
    .popover-content {
        //left: 0 !important;
        width: 40%;
    }
}
}

@media (min-width:806px )and (max-width: 1023px) {
    :root {
        .popover-content {
            left: 10% !important;
            width: 50%;
        }
        .popover-content ion-list ion-label
    {
    font-size:16px !important;
    } 
    }
    .my-modal-galery-css .modal-wrapper{
        height: 100%;
        width: 100%;
        position: absolute;
        // top: 10%;
        left: 0%;
    }
}
@media (min-width: 751px) and (max-width: 805px){
    :root {
        .popover-content {
            left: 10% !important;
            width: 50%;
        }
        .popover-content ion-list ion-label
    {
    font-size:16px !important;
    } 
    }
}
@media (min-width: 678px) and (max-width: 750px){
    :root {
        .popover-content {
            left: 10% !important;
            width: 50%;
        }
        .popover-content ion-list ion-label
    {
    font-size:16px !important;
    } 
    }
    .my-modal-galery-css .modal-wrapper{
        height: 100%;
        width: 100%;
        position: absolute;
        // top: 10%;
        left: 0%;
    }
}
@media (min-width: 647px) and (max-width: 677px){
    :root {
        .popover-content {
            left: 10% !important;
            width: 50%;
        }
        .popover-content ion-list ion-label
    {
    font-size:16px !important;
    } 
    }
    .my-modal-galery-css .modal-wrapper{
        height: 100%;
        width: 100%;
        position: absolute;
        // top: 10%;
        left: 0%;
    }
}
@media (min-width: 576px) and (max-width: 646px){
    :root {
        .popover-content {
            left: 10% !important;
            width: 80%;
        }
        .popover-content ion-list ion-label
    {
    font-size:16px !important;
    } 
    }
    .my-modal2-css .modal-wrapper{
        height: 50%;
        width: 100%;
        position: absolute;
        top: 5%;
        left: 0%;
    }
    .my-modal-galery-css .modal-wrapper{
        height: 100%;
        width: 100%;
        position: absolute;
        // top: 10%;
        left: 0%;
    }
}
@media (min-width: 480px) and (max-width: 575px){
    :root {
        .popover-content {
            left: 10% !important;
            width: 80%;
        }
        .popover-content ion-list ion-label
    {
    font-size:14px !important;
    } 
    }
    .my-modal2-css .modal-wrapper{
        height: 50%;
        width: 100%;
        position: absolute;
        top: 5%;
        left: 0%;
    }
    .my-modal-galery-css .modal-wrapper{
        height: 100%;
        width: 100%;
        position: absolute;
        // top: 10%;
        left: 0%;
    }
}
@media (min-width: 361px) and (max-width: 479px){
    :root {
        .popover-content {
            left: 0 !important;
            width: 100%;
        }
        .popover-content ion-list ion-label
    {
    font-size:14px !important;
    } 
    }
    .my-modal2-css .modal-wrapper{
        height: 50%;
        width: 100%;
        position: absolute;
        top: 5%;
        left: 0%;
    }
    .my-modal-galery-css .modal-wrapper{
        height: 100%;
        width: 100%;
        position: absolute;
        // top: 10%;
        left: 0%;
    }
}

// h1 {
//     color: var(--ion-color-tertiary);
//     text-align: center;
// }
// h2 {
//     color: var(--ion-color-tertiary);
//     text-align: center;
// }
// ion-card-title {
//     color: var(--ion-color-tertiary);
// }
// ion-card {
//     text-align: center;
//     border-radius: 10px;    
// }
// ion-card-content {
//     text-align: justify;
// }
// //Modificaciones para la plataforma de ios
// ion-title.ios {
//     display: flex;
//     font-size: 12px;
// }
// ion-card-title.ios {
//     display: flex;
//     font-size: 16px;
// }
// //Tamaño de los botones
// ion-button {
//     height: 30px;
// }
// //Color al icono del menu
// ion-menu-button {
//     color: #fff
// }
// ion-content ion-toolbar {
//     --background: transparent;
// }
// // Textos centrados
// p {
//     text-align: center;
// }
// ion-title {
//     text-align: center;
// }
// ion-toolbar {
//     text-align: center;
// }
// //Retira el subrayado
// a {
//     text-decoration: none;
// }
// // Mesajes de error en las entradas de datos de los forms
// .error-message{
//     font-size: 10px;
//     color: red;
// }