<ion-content fullscreen>
  <ion-item id="item" class="botones">
    <ion-button (click)="cerrarModal()" fill="clear">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-grid>
    <ion-row>
        <ion-col size-md="4" size-lg="4" size-sm="4" size-xs="6" size-xl="4" *ngFor="let images of imagenes">
            <img class="galeria" src="assets/images/{{images}}" alt=""  >

        </ion-col>
    </ion-row>
</ion-grid>
</ion-content>